<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>顺电Apple专区_Apple授权经销商_正品行货保证_顺丰包邮-顺电网上商城</title>
		
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../css/apple.css" />
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
	</head>

	<body>
		
		<!--公用搜索和导航-->
		<div class="dingbu"></div>

		<div class="wrap">
			<!--头部-->
			<div id="appleHead">
				<div>
					<a href="products_details.html?goodsId=2"   target="_blank" id="headerNav">首页</a>

					<a href="products_details.html?goodsId=2"   target="_blank">苹果手机</a>

					<a href="products_details.html?goodsId=2"   target="_blank">iPad的</a>

					<a href="products_details.html?goodsId=2"   target="_blank">苹果电脑</a>

					<a href="products_details.html?goodsId=2"   target="_blank">看</a>

					<a href="products_details.html?goodsId=2"   target="_blank">iPod</a>

					<a href="products_details.html?goodsId=2"   target="_blank">配件</a>
				</div>
				<div id="appleLogo">
					<img src="../img/apple/apple_logo.png" />
				</div>
			</div>
			<!--轮播图-->
			<div id="appleCarouselFigure">
				<div id="appleCarouselFigureContent">
					<!--<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>
					<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>
					<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>
					<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>
					<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>
					<a href=""><img src="../img/apple/apple_carousel_figure.jpg" /></a>-->
				</div>
				<div id="applePagination">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<!--展示区-->
			<div id="appleDisplay">
				<!--展示区图一-->
				<div id="firstSection">
					<p>苹果手机</p>
					<img src="../img/apple/apple_display1.png" />
					<div class="first_line">
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iphoneX</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iphone8</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iphone8Plus</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iphone7</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iphone7Plus</span></a>
					</div>
				</div>
				<!--展示区图二-->
				<div id="firstSection">
					<p>iPad的</p>
					<img src="../img/apple/apple_display2.png" />
					<div class="first_line">
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iPad Pro(12.9英寸)</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iPad Pro(10.5英寸)</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iPad的</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iPad mini4</span></a>
					</div>
				</div>
				<!--展示区图三-->
				<div id="firstSection">
					<p>苹果电脑</p>
					<img src="../img/apple/apple_display3.png" />
					<div class="first_line">
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>的Macbook</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>Macbook Air</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>Macbook Pro</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>iMac电脑</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>Mac mini</span></a>
					</div>
				</div>
				<div id="firstSection">
					<p>看</p>
					<img src="../img/apple/apple_display4.png" />
					<div class="first_line">
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>Apple Watch系列3</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>Apple Watch Nike+</span></a>
					</div>
					<div>
						<span class="apple_item"><a href="products_details.html?goodsId=2"   target="_blank"></a></span>
						<a href="products_details.html?goodsId=2"   target="_blank"><span>表带</span></a>
					</div>
				</div>
			</div>
			<!--尾部-->
			<footer>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div id="miniDisplay">
						<div id="">
							<img src="../img/apple/mac_mini.png" />
						</div>
						<div id="secondPlace">
							<p class="second_Place">苹果Mac mini MGEM2CH / A</p>
							<p class="introduce">Mac Mini现配备第四代英特尔酷睿处理器，强</p>
							<p>劲的图形处理性能</p>
							<p class="more">查看更多></p>
						</div>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div id="miniDisplay">
						<div id="firstPlace">
							<img src="../img/apple/ipod.png" />
						</div>
						<div id="secondPlace">
							<p class="second_Place">iPod的</p>
							<p class="intro">你喜爱的音乐，随声带着走</p>
							<p class="more">查看更多></p>
						</div>
					</div>
				</a>
			</footer>
		</div>
		
		
		<!--公用底部-->
		<div class="usedb"></div>
	</body>
	
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/apple.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$(".usedb").load("../common/footer.html");
		});
	</script>

</html>