<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>品牌街_正品保证_送货上门-顺电网上商城</title>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<!--<link rel="stylesheet" type="text/css" href="../css/reset.css" />-->
		<link rel="stylesheet" type="text/css" href="../css/brandStreet_q.css" />

	</head>

	<body>
		<!--头部共用-->
		<div class="dingbu"></div>
		<!-- 中间内容区 -->
		<div class="brand_container">

			<!-- 热门品牌 -->
			<div class="brand_container_wrap">
				<div class="brand_popular_brand">
					<div class="brand_popular_title">热门品牌</div>
					<!--热门图片列表-->
					<ul>
						<li>
							<img src="../img/bradcomputer.jpg" width="100%" />
							<div class="brand_popular_intro"></div>
							<p class="brand_popular_article">玩游戏,来个好的博览会的离开你打开了尽可能的借款人交换机房交会</p>
						</li>
					</ul>

					<ul>
						<li>
							<img src="../img/bradcomputer.jpg" width="100%" />
							<div class="brand_popular_intro"></div>
							<p class="brand_popular_article">玩游戏,来个好的博览会的离开你打开了尽可能的借款人交换机房交会</p>
						</li>
					</ul>

					<ul>
						<li>
							<img src="../img/bradcomputer.jpg" width="100%" />
							<div class="brand_popular_intro"></div>
							<p class="brand_popular_article">玩游戏,来个好的博览会的离开你打开了尽可能的借款人交换机房交会</p>
						</li>
					</ul>

					<ul>
						<li>
							<img src="../img/bradcomputer.jpg" width="100%" />
							<div class="brand_popular_intro"></div>
							<p class="brand_popular_article">玩游戏,来个好的博览会的离开你打开了尽可能的借款人交换机房交会</p>
						</li>
					</ul>

					<ul>
						<li style="margin-right: 0;">
							<img src="../img/bradcomputer.jpg" width="100%" />
							<div class="brand_popular_intro"></div>
							<p class="brand_popular_article">玩游戏,来个好的博览会的离开你打开了尽可能的借款人交换机房交会</p>
						</li>
					</ul>

				</div>

				<!--全部品牌-->
				<div class="brand_all_brand">
					<div class="brand_popular_title">全部品牌</div>
					<!-- 地址筛选总部分 -->
					<div class="brand_all_address">
						<div class="brand_all_screening">按字母筛选:</div>
						<ul class="brand_all_letter">
							<li><a href="#A"> A</a></li>
							<li><a href="#B"> B</a></li>
							<li><a href="#C"> C</a></li>
							<li><a href="#D"> D</a></li>
							<li><a href="#E"> E</a></li>
							<li><a href="#F"> F</a></li>
							<li><a href="#G"> G</a></li>
							<li><a href="#H"> H</a></li>
							<li><a href="#I"> I</a></li>
							<li><a href="#J"> J</a></li>
							<li><a href="#K"> K</a></li>
							<li><a href="#L"> L</a></li>
							<li><a href="#M"> M</a></li>
							<li><a href="#N"> N</a></li>
							<li><a href="#O"> O</a></li>
							<li><a href="#P"> P</a></li>
							<li><a href="#Q"> Q</a></li>
							<li><a href="#R"> R</a></li>
							<li><a href="#S"> S</a></li>
							<li><a href="#T"> T</a></li>
							<li><a href="#U"> U</a></li>
							<li><a href="#V"> V</a></li>
							<li><a href="#W"> W</a></li>
							<li><a href="#X"> X</a></li>
							<li><a href="#Y"> Y</a></li>
							<li><a href="#Z"> Z</a></li>
							<li><a href="#0-9"> 0-9</a></li>

						</ul>

						<!-- 按字母排序 品牌请求 -->
						<div class="brand_all_address_url">
							<div class="brand_all_address_url_a">
								<h1 id="A">A</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="B">B</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="C">C</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="D">D</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="E">E</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							
							<div class="brand_all_address_url_a">
								<h1 id="F">F</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="G">G</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							
							<div class="brand_all_address_url_a">
								<h1 id="H">H</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							
							<div class="brand_all_address_url_a">
								<h1 id="I">I</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="J">J</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							
							<div class="brand_all_address_url_a">
								<h1 id="K">K</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="L">L</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="M">M</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="N">N</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="O">O</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="P">P</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="Q">Q</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="R">R</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="S">S</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="T">T</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="U">U</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="V">V</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="W">W</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="X">X</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="Y">Y</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="Z">Z</h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>
							
							<div class="brand_all_address_url_a">
								<h1 id="0-9"> 0-9 </h1>
								<!--右边品牌筛选区-->
								<ul class="brand_all_address_right">
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
									<li>艾利和</li>
								</ul>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!--底部共用-->
		<div class="footer_commen_Q"></div>
		
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../js/brandStreet_q.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
			$(".footer_commen_Q").load("../common/footer.html");
		});
		</script>
	</body>

</html>