<div class="wrap  wrap_first">
				<div class="content_cy">
					<a href="">
						<p>配送方式</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>

			</div>
			<div class="wrap  wrap_third">
				<div class="content_cy">
					<a href="">
						<p>运费政策</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>

			</div>
			<div class="wrap  wrap_forth">
				<div class="content_cy">
					<a href="">
						<p>汇款转账</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>

			</div>
			<div class="wrap wrap_fifth">

				<div class="content_cy">
					<a href="">
						<p>在线支付</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap wrap_sixth">

				<div class="content_cy">
					<a href="">
						<p>联系客服</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap wrap_seventh">

				<div class="content_cy">
					<a href="">
						<p>开具发票</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap eighth">

				<div class="content_cy">
					<a href="">
						<p>隐私保护协议</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap wrap_ninth">

				<div class="content_cy">
					<a href="">
						<p>退款说明</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap wrap_tenth">

				<div class="content_cy">
					<a href="">
						<p>订单说明</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>
			<div class="wrap wrap_second">

				<div class="content_cy">
					<a href="">
						<p>售后政策</p>
					</a>
					<p>[2010-10-01 00:00]</p>
				</div>
			</div>

