<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/side_register.css" />
        <link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	</head>

	<body>
		<div class="dingbu">

		</div>
		<div class="help">

		</div>

		<div id="btn">
			<div class="btn_con ">
				<button class="first_btn ">&lt;</button>
				<button class="second_btn cur">1</button>
				<button class="third_btn">2</button>
				<button class="forth_btn">&gt;</button>
			</div>
		</div>
		<div id="useb"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../js/side_register.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#useb").load("../common/footer.html")
		</script>
	</body>

</html>