<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>进口_顺电</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<!-- Link Swiper's CSS -->
		<link rel="stylesheet" type="text/css" href="../common/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/import-q.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
		<!-- Demo styles -->
	</head>

	<body>
		<!-- 头部共用 -->
		<div class="dingbu"></div>
		
		<!--中间内容部分-->
		<div id="container_q">
			<!-- 轮播图区域 -->
			<div class="top_swiper_q">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><a href="products_details.html?goodsId=2"   target="_blank"><img src="../img/img1.jpg" /></a></div>
						<div class="swiper-slide">Slide 2</div>
					      <!--<div class="swiper-slide">Slide 3</div>
					      <div class="swiper-slide">Slide 4</div>
					      <div class="swiper-slide">Slide 5</div>
					      <div class="swiper-slide">Slide 6</div>
					      <div class="swiper-slide">Slide 7</div>
					      <div class="swiper-slide">Slide 8</div>
					      <div class="swiper-slide">Slide 9</div>
					      <div class="swiper-slide">Slide 10</div>-->
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<!-- 内容区 -->
			<div class="import_wrap_p">
				<div class="import_title_p">
					热门推荐
					<span>Recommend</span>
				</div>
				<!--热门推荐内容区轮播图-->
				<div class="hot_swiper_p">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><a href="products_details.html?goodsId=2"   target="_blank"><img src="../img/im-sony.jpg"/></a></div>
							<div class="swiper-slide">slide 2</div>
							<div class="swiper-slide">slide 3</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
				
				<!--热门推荐右边-->
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="hot_right_q">
						<div class="hot_right_img_q"><img src="../img/hot-bosi.jpg"/></div>
						<div class="hot_right_logo_q"><img src="../img/hot-bosi-logo.jpg"/></div>
						<div class="hot_right_title_q">博世368升,原装进口</div>
						<div class="hot_right_artical-q">双文区设置</div>
						<div class="hot_right_selling-q">售价<span>￥22899</span></div>
						<div class="buy_now_q">立即购买</div>
					</div>
				</a>
				<div class="hot_right_bottom_q">
					<div class="hot_right_bottom_img_q"><img src="../img/im_songxia.jpg"/></div>
					<div class="hot_right_bottom_logo_q"><img src="../img/im-japan-logo.jpg"/></div>
					<div class="hot_right_bottom_title_q">主题规范</div>
					<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
					<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
				</div>
				
				<div class="hot_right_bottom_q">
					<div class="hot_right_bottom_img_q"><img src="../img/im_songxia.jpg"/></div>
					<div class="hot_right_bottom_logo_q"><img src="../img/im-japan-logo.jpg"/></div>
					<div class="hot_right_bottom_title_q">主题规范</div>
					<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
					<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
				</div>
				
				<div class="wrap_top_interval_q"></div>
				<!--国家分类-->
				<div class="import_title_p">
					国家分类
					<span>Country</span>
				</div>
				<!--国分类logo-->
				<div class="coutry_logo_wrap_q">
					<div class="country_logo_q  counry_usa_logo">
						<div class="country_logo_img_q"><img src="../img/country-logo-img.png"/></div>
						<div class="country_logo_title_q">美国馆</div>
					</div>
					<div class="country_logo_q country_germany_logo">
						<div class="country_logo_img_q"><img src="../img/germany.png"/></div>
						<div class="country_logo_title_q">德国馆</div>
					</div>
					<div class="country_logo_q country_japan_logo">
						<div class="country_logo_img_q"><img src="../img/japan.png"/></div>
						<div class="country_logo_title_q">日本馆</div>
					</div>
					<div class="country_logo_q country_korea_logo">
						<div class="country_logo_img_q "><img src="../img/korea.png"/></div>
						<div class="country_logo_title_q">韩国馆</div>
					</div>
					<div class="country_logo_q country_thailand_logo">
						<div class="country_logo_img_q"><img src="../img/thailand.png"/></div>
						<div class="country_logo_title_q">泰国馆</div>
					</div>
				</div>
				<!--美国分类-->
				<div class="import_country_usa_q">
					<div class="import_country_left_img_q">
						<img src="../img/USA.png"/>
					</div>
					<!--方向导航图-->
					<div class="coutry_direction1_img_q">
							<img src="../img/decorate01.png"/>
						</div>
					<!--右边排版-->
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
				</div>
				
					
				<!-- 德国分类 -->
				<div class="import_country_usa_q">
					<div class="import_country_left_img_q">
						<img src="../img/germany (1).png"/>
					</div>	
						<!--方向导航图-->
					<div class="coutry_direction2_img_q">
							<img src="../img/decorate02.png"/>
					</div>
					<!--右边排版-->
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
				</div>
				
				<!-- 日本分类-->
				<div class="import_country_usa_q">
					<div class="import_country_left_img_q">
						<img src="../img/japan (1).png"/>
					</div>
					<!--右边排版-->
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
				</div>
				
				<!-- 韩国分类 -->
				<div class="import_country_usa_q">
					<div class="import_country_left_img_q">
						<img src="../img/korea (1).png"/>
					</div>
						<!--方向导航图-->
					<div class="coutry_direction4_img_q">
							<img src="../img/decorate04.png"/>
						</div>
					
					
					<!--右边排版-->
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
				</div>
				
				<!-- 泰国分类 -->
				<div class="import_country_usa_q">
					<div class="import_country_left_img_q">
						<img src="../img/thailand (1).png"/>
					</div>
						<!--方向导航图-->
					<div class="coutry_direction3_img_q">
							<img src="../img/decorate03.png"/>
						</div>					
					<!--右边排版-->
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
					
					<div class="import_country_right_article">
						<div class="country_right_article_img">
							<img src="../img/kannigen.jpg"/>
						</div>
						<div class="country_right_article_title">康妮跟中央饮水机央饮水央饮水</div>
						<div class="country_right_article_title_con">呵护你的健康 品质之选</div>
						<div class="hot_right_bottom_selling_q">售价<span>￥22899</span></div>
						<div class="buy_now_q hot_buy_now_bottom_q">立即购买</div>
					</div>
				</div>
					
				<!--顺电生活馆 给你更多精彩-->
				<div class="import_title_p">
					顺电生活馆 给你更多精彩
					<span>MoreFan</span>
				</div>
				
				<div class="import_life">
					<div>
						<img src="../img/wenxicook.jpg" width="100%"/>
					</div>
					<div class="import_life_title">
						温馨厨房
					</div>
					<div class="import_life_enter">
						点击进入
					</div>
				</div>
				
				<div class="import_life">
					<div>
						<img src="../img/wenxicook.jpg" width="100%"/>
					</div>
					<div class="import_life_title">
						温馨厨房
					</div>
					<div class="import_life_enter">
						点击进入
					</div>
				</div>
				
				<div class="import_life">
					<div>
						<img src="../img/wenxicook.jpg" width="100%"/>
					</div>
					<div class="import_life_title">
						温馨厨房
					</div>
					<div class="import_life_enter">
						点击进入
					</div>
				</div>
				
				<div class="import_life">
					<div>
						<img src="../img/wenxicook.jpg" width="100%"/>
					</div>
					<div class="import_life_title">
						温馨厨房
					</div>
					<div class="import_life_enter">
						点击进入
					</div>
				</div>
				
			</div>

		</div>

<!-- 底部共用 -->
	<div class="footer_commen_q"></div>

		<!-- Swiper JS -->
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/import_q.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<!-- Initialize Swiper -->
		<script type="text/javascript">
			$(function(){
			$(".footer_commen_q").load("../common/footer.html");
		});
		</script>
		
	</body>

</html>