<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../common/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login_register_cart.css"/>
	</head>
	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		
		<!--register_login_cart页面填充框-->
		<div class="login_box">
			<div class="linkbox1">
				<img src="../img/login_ipad.jpeg" class="linkbox1img"/>
				<div class="login_formbox">
					<h2>用户登录</h2>
					<form action="">
						<input type="text" name="user" id="login_user" value="" placeholder="用户名/邮箱地址/手机号"/>
						
						<input type="password" name="pwd" id="login_pwd" value="" placeholder="填写密码"/>
						<!--<img src="img/keybord.jpeg"/>-->
						<div class="login_registerbox">
							<a href="###">忘记登录密码?</a>
							<a href="###">免费注册</a>
						</div>
						<input type="submit" name="sub" id="login_sub" value="登录" class="login_sub"/>
						<div class="login_first">门店会员首次登录，请  <a href="###">点击此处</a></div>
						
					</form>
				</div>
			</div>
		</div>
		
		
		<!--公用底部-->
		<div class="usedb"></div>
		<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				//加载底部
				$(".usedb").load("../common/footer.html");
	
//				if(linkbox == "login") {//进入登录页
					console.log("登录页login");
					$("#login_sub").click(function(e) {//点击登录
						$.post("Http://10.80.13.136:8080/user/userLogin",{userName:$("#login_user").val(),userPassword:$("#login_pwd").val()},function(data){
							console.log(data);
						});
					});
//				}
	
	
			});
		</script>
	</body>
</html>
