<!--<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">-->

<link rel="stylesheet" type="text/css" href="css/main.css" />
<!--</head>

	<body>-->
<section class="main_wrap">
	<!--主页的左侧边栏-->
	<section class="main_lsidebar">
		<a href="#recommend">
			<div class="main_lsidebar_ceil recommend active">推荐</div>
		</a>
		<a href="#discovery">
			<div class="main_lsidebar_ceil discovery">发现</div>
		</a>
		<a href="#man">
			<div class="main_lsidebar_ceil man">Man</div>
		</a>
		<a href="#home">
			<div class="main_lsidebar_ceil home">家</div>
		</a>
		<a href="#taste">
			<div class="main_lsidebar_ceil taste">味</div>
		</a>
		<a href="#season">
			<div class="main_lsidebar_ceil season">四季</div>
		</a>
		<a href="#sales">
			<div class="main_lsidebar_ceil sales">特价</div>
		</a>
		<a href="###" id="gototop">
			<img src="img/index_top.jpg" />
		</a>
	</section>
	<!--1.推荐-->
	<div class="main_con" id="recommend">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">推荐</p>
			<div class="main_con_top_p">
				<p>RECOMMEND</p>
				<div class="main_con_top_a">
					<!--链接到导航栏的新品-->
					<a href="html/new_product.html" target="_blank">新品</a>
					<!--链接到导航栏的主题馆-->
					<a href="html/theme_pavilions.html" target="_blank">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<ul class="main_list_recom main_list onlyfor_show" id="recom_list">
			<!--<li class="goods_block">
						<div class="main_goods">
							<a href="">
								<img src="" />
							</a>
							<div class="main_goods_detail">
								<h4>OPPO R15 梦镜版  6GB+128GB 全网通 全面屏双摄拍照娱乐手机 双卡双待</h4>
								<p>梦境红渐变色，充满热情</p>
								<div class="price">￥3299.00</div>
							</div>
							<div class="main_goods_cover">
								<div class="price">￥3299.00</div>
								<div class="main_goods_goshopping">加入购物车</div>
							</div>
						</div>
					</li>-->
		</ul>
	</div>
	<!--2.发现-->
	<div class="main_con" id="discovery">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">发现</p>
			<div class="main_con_top_p">
				<p>DISCOVERY</p>
				<div class="main_con_top_a">
					<a href="html/shundian_faxian_jinhuaqi.html" target="_blank">净化器</a>
					<a href="html/slow_life.html" target="_blank">慢味生活</a>
					<a href="html/shundian_faxian_dianban.html" target="_blank">电脑办公</a>
					<a href="html/theme_pavilions.html" target="_blank">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<div class="main_list_discov main_list">
			<div class="main_list_discov_l main_list">
				<div>
					<a href="html/apple.html" target="_blank"><img src="img/main_dis_1.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/prefecture.html"><img src="img/main_dis_5.jpg" alt="" /></a>
				</div>
				<div>
					<a href=""><img src="img/main_dis_6.jpg" alt="" /></a>
				</div>
			</div>
			<div class="main_list_discov_r main_list">
				<div>
					<a href="html/shundian_faxian_sheying.html"><img src="img/main_dis_2.jpg" alt="" /></a>
				</div>
				<div>
					<a href=""><img src="img/main_dis_3.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/tixudao.html" target="_blank"><img src="img/main_dis_4.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/shundian_faxian_jinhuaqi.html" target="_blank"><img src="img/main_dis_7.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/import_q.html" target="_blank"><img src="img/main_dis_8.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
	<!--广告区-->
	<section class="main_ads">
		<a href=""><img src="img/main_gg1.jpg" alt="" /></a>
	</section>
	<!--3.Man-->
	<div class="main_con" id="man">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">Man</p>
			<div class="main_con_top_p">
				<p id="main_con_top_pspe">BE A MR FASHION</p>
				<div class="main_con_top_a">
					<a href="html/shundian_man.html#manhuli" target="_blank">护理</a>
					<a href="html/shundian_man.html#mankeji" target="_blank">科技</a>
					<a href="html/shundian_man.html#manpinwei" target="_blank">品位</a>
					<a href="html/shundian_man.html#manyouxi" target="_blank">游戏</a>
					<a href="html/shundian_man.html#mansheying" target="_blank">摄影</a>
					<a href="html/shundian_man.html#manpaobu" target="_blank">跑步户外</a>
					<a href="html/shundian_man.html" target="_blank">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<div class="main_list_discov main_list">
			<div class="main_list_discov_l main_list">
				<div>
					<a href="html/shundian_man.html" target="_blank"><img src="img/main_man_1.jpg" alt="" /></a>
				</div>
				<div>
					<a href=""><img src="img/main_man_2.jpg" alt="" /></a>
				</div>
				<div>
					<a href=""><img src="img/main_man_3.jpg" alt="" /></a>
				</div>
			</div>
			<div class="main_list_discov_r main_list">
				<div>
					<a href="html/products_details.html?goodsId=2" target="_blank"><img src="img/main_man_4.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/products_details.html?goodsId=2" target="_blank"><img src="img/main_man_5.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/products_details.html?goodsId=2" target="_blank"><img src="img/main_man_6.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/products_details.html?goodsId=2" target="_blank"><img src="img/main_man_7.jpg" alt="" /></a>
				</div>
				<div>
					<a href="html/products_details.html?goodsId=2" target="_blank"><img src="img/main_man_8.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
	<!--广告区-->
	<section class="main_ads">
		<a href=""><img src="img/main_gg2.jpg" alt="" /></a>
	</section>
	<!--4.家-->
	<div class="main_con" id="home">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">家</p>
			<div class="main_con_top_p">
				<p>QUALITY LIFE</p>
				<div class="main_con_top_a">
					<a href="html/shundian_jia.html#jiaketing" target="_blank">客厅</a>
					<a href="html/shundian_jia.html#jiawoshi" target="_blank">卧室</a>
					<a href="html/shundian_jia.html#jiaweishengjia" target="_blank">卫生间</a>
					<a href="html/shundian_jia.html#jiachufang" target="_blank">厨房</a>
					<a href="html/shundian_jia.html#jiashufang" target="_blank">书房</a>
					<a href="html/shundian_jia.html" target="_blank">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<div class="main_list_discov main_list">
			<div class="main_list_discov_l main_list">
				<div>
					<a href="html/shundian_jia.html" target="_blank"><img src="img/main_home_1.jpg" alt="" /></a>
				</div>
				<div>
					<a href="#"><img src="img/main_home_2.jpg" alt="" /></a>
				</div>
				<div>
					<a href="#"><img src="img/main_home_3.jpg" alt="" /></a>
				</div>
			</div>
			<div class="main_list_discov_r main_list">
				<div>
					<a href="#"><img src="img/main_home_4.jpg" alt="" /></a>
				</div>
				<div>
					<a><img src="img/main_home_5.jpg" alt="" /></a>
				</div>
				<div>
					<a href="#"><img src="img/main_home_6.jpg" alt="" /></a>
				</div>
				<div>
					<a href="#"><img src="img/main_home_7.jpg" alt="" /></a>
				</div>
				<div>
					<a href="#"><img src="img/main_home_8.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
	<!--广告区-->
	<section class="main_ads">
		<a href=""><img src="img/main_gg3.jpg" alt="" /></a>
	</section>
	<!--5.味-->
	<div class="main_con" id="taste">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">味</p>
			<div class="main_con_top_p">
				<p id="main_con_top_taste">DELICIOUS FOOD</p>
				<div class="main_con_top_a">
					<a href="###">早餐</a>
					<a href="###">健康瘦身</a>
					<a href="###">下午茶</a>
					<a href="###">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<ul class="main_list_taste main_list">
			<li class="smell_li">
				<a href="###">
					<img src="img/main_smell_1.jpg" />
					<div class="main_taste_cover">
						<div class="circle">GO</div>
					</div>
				</a>
			</li>
			<li class="smell_li">
				<a href="###">
					<img src="img/main_smell_2.jpg" />
					<div class="main_taste_cover">
						<div class="circle">GO</div>
					</div>
				</a>
			</li>
			<li class="smell_li">
				<a href="###">
					<img src="img/main_smell_3.jpg" />
					<div class="main_taste_cover">
						<div class="circle">GO</div>
					</div>
				</a>
			</li>
			<li class="smell_li">
				<a href="###">
					<img src="img/main_smell_4.jpg" />
					<div class="main_taste_cover">
						<div class="circle">GO</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!--广告区-->
	<section class="main_ads">
		<a href=""><img src="img/main_gg4.jpg" alt="" /></a>
	</section>
	<!--6.四季-->
	<div class="main_con" id="season">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">四季</p>
			<div class="main_con_top_p">
				<p id="main_con_top_seacon">SEASON UPDATES</p>
				<div class="main_con_top_a">
					<a href="###">寒冷</a>
					<a href="###">雾霾</a>
					<a href="###">干燥</a>
					<a href="###">潮湿</a>
					<a href="###">炎热</a>
					<a href="###">More+</a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<ul class="main_list_seacon main_list_recom main_list">
			<li>
				<a href=""><img src="img/main_seson1.jpg" alt="" /></a>
			</li>
			<!--<li class="goods_block">
				<div class="main_goods">
					<a href="html/products_details.html?goodsId=2">
						<img src="" />
					</a>
					<div class="main_goods_detail">
						<h4>OPPO R15 梦镜版  6GB+128GB 全网通 全面屏双摄拍照娱乐手机 双卡双待</h4>
						<p>梦境红渐变色，充满热情</p>
						<div class="price">￥3299.00</div>
					</div>
					<div class="main_goods_cover">
						<div class="price">￥3299.00</div>
						<div class="main_goods_goshopping">加入购物车</div>
					</div>
				</div>
			</li>-->
		</ul>
	</div>
	<!--7.特价-->
	<div class="main_con" id="sales">
		<!--section标题区-->
		<div class="main_con_top">
			<p class="main_con_top_h1">特价</p>
			<div class="main_con_top_p">
				<p id="main_con_top_salesoff">Sales OFF</p>
				<div class="main_con_top_btn">
					<a href="###" id="sales_btn_l"><img src="img/index_p.jpg" alt="index_p" /></a>
					<a href="###" id="sales_btn_r"><img src="img/index_n.jpg" alt="index_n" /></a>
				</div>
			</div>
		</div>
		<!--section商品list-->
		<!--特价区的轮播图的展示区-->
		<div class="main_list_salesoff">
			<!--内容区-->
			<ul id="main_list_salesoff_con">
				<!--<li>
					<div class="sales_goods">
						<a href="">
							<img src="" />
						</a>
						<div class="sales_goods_detail">
							<h4>OPPO R15 梦镜版</h4>
							<div class="price">￥3299.00</div>
							<div class="not_price">￥3299.00</div>
						</div>
						<div class="sales_goods_cover">
							<div class="price">￥3299.00</div>
							<div class="main_goods_goshopping">加入购物车</div>
						</div>
					</div>
				</li>-->
			</ul>
		</div>
	</div>
	<!--广告区-->
	<section class="main_ads">
		<a href=""><img src="img/main_gg5.jpg" alt="" /></a>
	</section>
</section>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
	<!--</body>
	

</html>-->