<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/new_product.css" />
		<link rel="stylesheet" type="text/css" href="../css/pager.css" />
	</head>

	<body>
		<!--头部-->
		<footer>
			<div class="wrap">
				<div class="wrap_content">
					<!--轮播图-->
					<div class="carousel_figure">
						<!--插件-->
						<div class="content">
							<div class="a-content">
								<div class="carousel-content">
									<ul class="carousel">
										<li class="carousel_new"><img src="../img/new_product/huawei_P20.jpg"></li>
										<li class="carousel_new"><img src="../img/new_product/actor.jpg"></li>
										<li class="carousel_new"><img src="../img/new_product/actor.jpg"></li>
									</ul>
									<ul class="img-index"></ul>
									<div class="carousel-prev"><img src="../img/new_product/left_arrow.png" /></div>
									<div class="carousel-next"><img src="../img/new_product/right_arrow.png"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="wrapSection">
						<a href="###"><img src="../img/new_product/refrigerator.png" /></a>
						<a href="###"><img src="../img/new_product/keyboard.png" /></a>
						<a href="###"><img id="wrapSectionFirst" src="../img/new_product/refrigerator.png" /></a>
						<a href="###"><img id="wrapSectionSecond" src="../img/new_product/keyboard.png" /></a>
					</div>
				</div>
			</div>
			<!--新品-->

			<div id="recommand">
				<div id="nav">
					<p>新品推荐</p>
				</div>
				<div id="nut">
					<div id="nutWork">
						<a href=""><img src="../img/new_product/pro.png" /></a>
					</div>
					<div id="nutIntroduce">
						<a href="###">
							<p class="nutIntroduce_item">锤子 坚果Pro2 6GB+128GB 全网通</p>
							<p class="nutIntroduce_item">智能手机</p>
							<p class="nutIntroduce_item_two">漂亮得不像实力派</p>
							<p class="nutIntroduce_item_three">￥2699.00</p>
						</a>
					</div>
				</div>
				<div id="nutDisplay">
					<div id="newProductAnnouncement">
						<div id="nutAnnouncement">
							<p>锤子科技新品发布</p>
						</div>

					</div>
					<div id="newIphone">
						<a href="###">
							<div id="newProductGrain">
								<a href="###"><img src="../img/new_product/OPPO.jpg" /></a>
								<p>麦芒6 极光蓝</p>
							</div>
						</a>
						<a href="###">
							<div id="newProductOppo">
								<a href="### "><img src="../img/new_product/OPPO.jpg" /></a>
								<p>OPPO R11s 红色</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!--动态创建-->
			<div id="contentDisplay">
				<!--<div id="contentDisplayItem">

					<a href="###">
						<div id="displayShadow">

						</div>
						<img src="../img/new_product/phone.jpg" />
						<div id="DisplayIntro">
							<h3>【预订】小米 红米note5 6GB+64GB </h3>
							<h3>全网通 智能手机 双卡双待</h3>
						</div>
						<div id="displayPrice">
							<span>￥1699</span>
						</div>
					</a>

				</div>-->

			</div>
			<!--按钮页-->
			<div id="button">
				<ul class="pagination" id="page1">
				</ul>
			</div>
		</footer>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/carousel.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/new_product.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pager.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>
