
			<!--动态创建-->
			<div class="contentDisplay">
				<!--<div id="contentDisplayItem">

					<a href="###">
						<div id="displayShadow">

						</div>
						<img src="../img/new_product/phone.jpg" />
						<div id="DisplayIntro">
							<h3>【预订】小米 红米note5 6GB+64GB </h3>
							<h3>全网通 智能手机 双卡双待</h3>
						</div>
						<div id="displayPrice">
							<span>￥1699</span>
						</div>
					</a>

				</div>-->

			</div>
			<!--按钮页-->
			<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
			<script src="../js/new_product2.js" type="text/javascript" charset="utf-8"></script>
		
		
		