<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/side_register.css" />
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	</head>

	<body>
		<div class="dingbu">
			
		</div>
		<div class="wrap wrap_first">

			<div class="content_cy">
				<a href=""><p>会员登录小贴士</p></a>
				<p>[2010-10-01 00:00]</p>
			</div>
		</div>
		<div class="wrap wrap_third">

			<div class="content_cy">
				<a href=""><p>联系客服</p></a>
				<p>[2010-10-01 00:00]</p>
			</div>
		</div>
		<div class="wrap wrap_forth">

			<div class="content_cy">
				<a href=""><p>开具发票</p></a>
				<p>[2010-10-01 00:00]</p>
			</div>
		</div>
		<div class="wrap wrap_second">

			<div class="content_cy">
				<a href=""><p>交易须知</p></a>
				<p>[2010-10-01 00:00]</p>
			</div>
		</div>
		<div id="useb"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#useb").load("../common/footer.html");
		</script>
	</body>
</html>
