<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../common/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login_register_cart.css"/>
	</head>
	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		
		<div class="welcomebox">
			<div class="welcome">
				<!--<div class="welcome_photo"></div>-->
				<img src="../img/account/tx01.png" class="welcome_photo"/>
				<div class="welcome_vip">
					<div class="welcome_up username"><span id="">berb00</span></div>
					<div class="welcome_down">VIP1</div>
				</div>
				<div class="huanying">
					<h1>您好，欢迎光临顺电！</h1>
				</div>
				
			</div>
		</div>
		<div class="personal_conbox">
			<div class="personal_con_safe">
				<div class="personal_con_left">
					<div class="personal_jiaoyibox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_jiaoyi.png"/>
							<h2>交易管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_jiaoyi">
							<ul>
								<li><a href="###">我的订单</a></li>
								<li><a href="###">申请退换货</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_zixunbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_zixun.png"/>
							<h2>评论咨询管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_zixun">
							<ul>
								<li><a href="###">未评论商品</a></li>
								<li><a href="###">评论与咨询</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_accbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_acc.png"/>
							<h2>我的账户</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_acc">
							<ul>
								<li><a href="###">商品收藏</a></li>
								<li><a href="###">到货通知</a></li>
								<li><a href="###">我的优惠券</a></li>
								<li><a href="###">我的顺电钱包</a></li>
								<li><a href="###">积分兑换优惠券</a></li>
								<li><a href="###">我的积分</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_perbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_per.png"/>
							<h2>个人信息管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_per">
							<ul>
								<li><a href="###">站内信</a></li>
								<li><a href="###">个人信息</a></li>
								<li><a href="###" class="personal_safe">安全中心</a></li>
								<li><a href="###">收货地址</a></li>
								<li>	<a href="###">我的礼物</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="personal_con_right">
					<div class="huiyuanzhongxin_step">
						<span>您的当前位置：</span><a href="personal.html">会员中心</a>&nbsp;&gt;&nbsp;<span id="huiyuan_step3">安全中心</span>							
					</div>
					<div class="safe_conbox">
						<div class="safe_head">用户名：<span id="safe_name">berb00</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;绑定手机号：<span class="safe_num3">188</span>****<span class="safe_num4">2772</span></div>
					</div>
					<div class="safe_con">
						<ul>
							<li class="safe_level">安全等级：&nbsp;&nbsp;<span>良好</span><span class="safe_levelbox"><span class="safe_leveltag"></span></span></li>
							<li><div class="safe_pwd"><img src="../img/safe_has.png"/><span>已设置</span></div><span>登录密码</span><p>请经常更换您的登录密码，且不要和其他账号共用一个密码</p><a href="###" class="change_pwd">修改</a></li>
							<li><div class="safe_telcheck"><img src="../img/safe_has.png"/><span>已设置</span></div><span>手机验证</span><p>您的验证手机：<span class="safe_num3">188</span> ****<span class="safe_num4">2772</span></p><a href="###" class="change_tel">修改</a></li>
							<li><div class="safe_mailcheck"><img src="../img/safe_has.png"/><span>已设置</span></div><span>邮箱验证</span><p>进行邮箱验证后，可以用户快速找回账号密码和身份验证操作，保护您的账号安全</p><a href="###" class="change_email">绑定/修改</a></li>
							<li><div class="safe_paypwd"><img src="../img/safe_has.png"/><span>已设置</span></div><span>支付密码</span><a href="###" class="change_pay">修改</a></li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
		
		<!--公用底部-->
		<div class="usedb"></div>
		<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_log.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$(".usedb").load("../common/footer.html");
				
				$(".change_pwd").click(function(){	//点击安全中心 登录密码修改 按键
					console.log("change_pwd");
					location.href =  "safe_IdCheck.html";//加载登录密码修改步骤1页面
					$.cookie("id","pwd");
					console.log($.cookie("id"));
				});
				$(".change_tel").click(function(){	//点击安全中心 验证手机修改 按键
					console.log("change_tel");
					location.href =  "safe_IdCheck.html";//加载绑定新手机步骤1页面
					$.cookie("id","tel");
					console.log($.cookie("id"));
				});
				$(".change_email").click(function(){//点击安全中心 验证邮箱绑定/修改 按键
					console.log("change_email");
					location.href =  "safe_IdCheck.html";//加载修改邮箱步骤1页面
					$.cookie("id","email");
					console.log($.cookie("id"));
				});
				$(".change_pay").click(function(){	//点击安全中心 支付密码修改 按键
					console.log("change_pay");
					location.href =  "safe_IdCheck.html";//加载修改支付密码步骤1页面
					$.cookie("id","pay");
					console.log($.cookie("id"));
				});
				
				
	
			});
		</script>
	</body>
</html>
