<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>Personal</title>
	<link rel="stylesheet" type="text/css" href="../common/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css">
	<link rel="stylesheet" type="text/css" href="../common/style_h.css">
	<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
	<link rel="stylesheet" type="text/css" href="../css/login_register_cart.css"/>
</head>
<body>		
	<!--公用搜索和导航-->
	<div class="dingbu"></div>

	<div class="welcomebox">
		<div class="welcome">
			<img src="../img/account/tx01.png" class="welcome_photo"/>
			<div class="welcome_vip">
				<div class="welcome_up username"><span id="">berb00</span></div>
				<div class="welcome_down">VIP1</div>
			</div>
			<div class="huanying">
				<h1>您好，欢迎光临顺电！</h1>
			</div>
			
		</div>
	</div>
		
		
	<div class="personal_conbox">
		<div class="personal_con">
			<div class="personal_con_left">
				<div class="personal_jiaoyibox personal_list">
					<div class="personal_listup">
						<img src="../img/account/personal_con_jiaoyi.png"/>
						<h2>交易管理</h2>
						<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
					</div>
					<div class="personal_jiaoyi">
						<ul>
							<li><a href="###">我的订单</a></li>
							<li><a href="###">申请退换货</a></li>
						</ul>
					</div>
				</div>
				<div class="personal_zixunbox personal_list">
					<div class="personal_listup">
						<img src="../img/account/personal_con_zixun.png"/>
						<h2>评论咨询管理</h2>
						<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
					</div>
					<div class="personal_zixun">
						<ul>
							<li><a href="###">未评论商品</a></li>
							<li><a href="###">评论与咨询</a></li>
						</ul>
					</div>
				</div>
				<div class="personal_accbox personal_list">
					<div class="personal_listup">
						<img src="../img/account/personal_con_acc.png"/>
						<h2>我的账户</h2>
						<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
					</div>
					<div class="personal_acc">
						<ul>
							<li><a href="###">商品收藏</a></li>
							<li><a href="###">到货通知</a></li>
							<li><a href="###">我的优惠券</a></li>
							<li><a href="###">我的顺电钱包</a></li>
							<li><a href="###">积分兑换优惠券</a></li>
							<li><a href="###">我的积分</a></li>
						</ul>
					</div>
				</div>
				<div class="personal_perbox personal_list">
					<div class="personal_listup">
						<img src="../img/account/personal_con_per.png"/>
						<h2>个人信息管理</h2>
						<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
					</div>
					<div class="personal_per">
						<ul>
							<li><a href="###">站内信</a></li>
							<li><a href="###">个人信息</a></li>
							<li><a href="###">安全中心</a></li>
							<li><a href="###">收货地址</a></li>
							<li>	<a href="###">我的礼物</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="personal_con_right">
				<div class="huiyuanzhongxin">
					<div class="huiyuanzhongxin_upbox">
						<div class="huiyuanzhongxin_up">
							您好<span>berb00</span>，欢迎进入会员中心
						</div>
						<div class="huiyuanzhongxin_left">
							<p>您目前是：<span>[VIP1]</span></p>
							<p>账户总积分：<span>0</span>分<a href="###">查看积分记录>></a></p>									
						</div>
						<div class="huiyuanzhongxin_right">
							<p>经验值是：<span>0</span>(经验值积累到<span>50000</span>可成为VIP2)</p>
							<p>顺电钱包余额：￥<span>0.00</span></p>
						</div>
					</div>
					
					<div class="huiyuanzhongxin_down">
						<ul>
							<li class="jiaoyi">交易提醒：</li>
							<li><a href="###">未付款订单</a><span>0</span></li>
							<li><a href="###">预售订单</a><span>0</span></li>
							<li><a href="###">到货通知</a><span>0</span></li>
							<li><a href="###">评论回复</a><span>0</span></li>
							<li><a href="###">咨询回复</a><span>0</span></li>
						</ul>
					</div>
					<div class="zuijindingdan">
						<div class="zuijindingdan_top">最近的订单</div>
						<div class="zuijindingdan_con">
							<table border="" cellspacing="" cellpadding="">
								<tr><td>暂无订单</td></tr>
							</table>
						</div>
					</div>
					<div class="zuixinshoucang">
						<div class="zuixinshoucang_top">最新收藏</div>
						<div class="zuixinshoucang_con">
							<table border="" cellspacing="" cellpadding="">
								<tr><td>暂无收藏</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--公用底部-->
	<div class="usedb"></div>
	<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="../common/index_log.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			//加载底部
			$(".usedb").load("../common/footer.html");

		});
	</script>
</body>
</html>