<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>温馨厨房_微波炉价格_胶囊咖啡机-正品保证送货上门-顺电网上商城</title>
		<link rel="stylesheet" type="text/css" href="../common/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../css/prefecture.css" />
	</head>

	<body>
		<!---->
		<div class="dingbu"></div>
		<div class="wrap">
			<div class="banner"></div>
			<div class="inner-1">
				<div class="title-one"></div>
				<div class="wrap-list">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_02.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_03.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_04.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_05.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_06.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_07.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_08.jpg" />
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/icon_09.jpg" />
					</a>
				</div>
				<div class="title-two"></div>
				<!--<div class="hots">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="hot-one sd-shade">
							<div class="hot-description">
								<div class="hot-title">金色图层炫钻内锅</div>
								<div class="hot-sub-title">松下(Panasonic)&nbsp;5升IH电磁电饭煲&nbsp;SR-SPZ183KSQ</div>
								<div class="hot-price"><sup>￥</sup>8879</div>
								<button class="hot-buy-btn" style="cursor:pointer">立即购买&nbsp;&gt;</button>
							</div>
						</div>
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="hot-one sd-shade">
							<div class="hot-description">
								<div class="hot-title">金色图层炫钻内锅</div>
								<div class="hot-sub-title">松下(Panasonic)&nbsp;5升IH电磁电饭煲&nbsp;SR-SPZ183KSQ</div>
								<div class="hot-price"><sup>￥</sup>8879</div>
								<button class="hot-buy-btn" style="cursor:pointer">立即购买&nbsp;&gt;</button>
							</div>
						</div>
					</a>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="hot-one sd-shade">
							<div class="hot-description">
								<div class="hot-title">金色图层炫钻内锅</div>
								<div class="hot-sub-title">松下(Panasonic)&nbsp;5升IH电磁电饭煲&nbsp;SR-SPZ183KSQ</div>
								<div class="hot-price"><sup>￥</sup>8879</div>
								<button class="hot-buy-btn" style="cursor:pointer">立即购买&nbsp;&gt;</button>
							</div>
						</div>
					</a>
				</div>-->
			</div>
			<div class="inner-two">
				<div class="title-three"></div>
				<div class="inner-main">
					<div class="rice-item left">
						<div class="rice-top">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/product_05.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
						<div class="rice-bottom">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/g3.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
					</div>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="rice-center">
							<div class="item-description">
								<div class="itemb-title">小容量&nbsp;很温馨</div>
								<div class="itemb-sub-title">松下&nbsp;3升&nbsp;IH电饭煲&nbsp;SR-SPZ103KSQ</div>
								<div class="itemb-price"><sup>￥</sup>7749</div>
								<button class="itemb-buy-btn">立即购买&nbsp;&gt;</button>
							</div>
						</div>
					</a>
					<div class="rice-item right">
						<div class="rice-top">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/g2.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
						<div class="rice-bottom">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/g4.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
					</div>
				</div>
				<div class="any">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/button_01.jpg" />
					</a>
				</div>
				<div id="">
					
				</div>
				<div class="title-eight">
				</div>
				<div class="inner-main">
					<div class="rice-item left">
						<div class="rice-top">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/green_left_top.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
						<div class="rice-bottom">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/green_left_bottom.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
					</div>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="rice-center">
							<div class="item-description">
								<div class="itemb-title">小容量&nbsp;很温馨</div>
								<div class="itemb-sub-title">松下&nbsp;3升&nbsp;IH电饭煲&nbsp;SR-SPZ103KSQ</div>
								<div class="itemb-price"><sup>￥</sup>7749</div>
								<button class="itemb-buy-btn">立即购买&nbsp;&gt;</button>
							</div>
						</div>
					</a>
					<div class="rice-item right">
						<div class="rice-top">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/green_right_top.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
						<div class="rice-bottom">
							<a href="products_details.html?goodsId=2"   target="_blank">
								<img src="../img/img/green_right_b.jpg" alt="电饭煲">
								<div class="item-title">仿造土锅&nbsp;热力均匀</div>
								<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
								<div class="item-price"><sup>￥</sup>5999</div>
							</a>
							<div class="item-buy-btn">
								<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
							</div>
						</div>
					</div>
				</div>
				<div class="any">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/button_01.jpg" />
					</a>
				</div>
				
			</div>
			<div class="inner-three">
				<div class="title-four"></div>
				<div class="item-list2">
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/hotpor_1.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/hot_p_2.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/hot_port_3.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/hot_port_4.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
				</div>
				<div class="any">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/button_01.jpg" />
					</a>
				</div>
				
				<div class="title-five"></div>
				<div class="item-list2">
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/pan4.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/pan1.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/pan2.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
					<div class="item-small ">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<img src="../img/img/pan3.jpg" alt="电饭煲">
							<div class="item-title">仿造土锅&nbsp;热力均匀</div>
							<div class="item-sub-title">虎牌&nbsp;5升&nbsp;IH电饭煲&nbsp;JKT-A18C</div>
							<div class="item-price"><sup>￥</sup>5999</div>
						</a>
						<div class="item-buy-btn">
							<a href="products_details.html?goodsId=2"   target="_blank">立即购买&nbsp;></a>
						</div>
					</div>
				</div>
				<div class="any">
					<a href="products_details.html?goodsId=2"   target="_blank">
						<img src="../img/img/button_01.jpg" />
					</a>
				</div>
			</div>
		</div>
		<!---->
		<div class="usedb"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$(".usedb").load("../common/footer.html");
			});	
		</script>
	</body>

</html>