<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../common/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login_register_cart.css"/>
	</head>
	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		
		<div class="welcomebox">
			<div class="welcome">
				<!--<div class="welcome_photo"></div>-->
				<img src="../img/account/tx01.png" class="welcome_photo"/>
				<div class="welcome_vip">
					<div class="welcome_up username"><span id="">berb00</span></div>
					<div class="welcome_down">VIP1</div>
				</div>
				<div class="huanying">
					<h1>您好，欢迎光临顺电！</h1>
				</div>
				
			</div>
		</div>
		<div class="personal_conbox">
			<div class="personal_changePwd">
				<div class="personal_con_left">
					<div class="personal_jiaoyibox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_jiaoyi.png"/>
							<h2>交易管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_jiaoyi">
							<ul>
								<li><a href="###">我的订单</a></li>
								<li><a href="###">申请退换货</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_zixunbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_zixun.png"/>
							<h2>评论咨询管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_zixun">
							<ul>
								<li><a href="###">未评论商品</a></li>
								<li><a href="###">评论与咨询</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_accbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_acc.png"/>
							<h2>我的账户</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_acc">
							<ul>
								<li><a href="###">商品收藏</a></li>
								<li><a href="###">到货通知</a></li>
								<li><a href="###">我的优惠券</a></li>
								<li><a href="###">我的顺电钱包</a></li>
								<li><a href="###">积分兑换优惠券</a></li>
								<li><a href="###">我的积分</a></li>
							</ul>
						</div>
					</div>
					<div class="personal_perbox personal_list">
						<div class="personal_listup">
							<img src="../img/account/personal_con_per.png"/>
							<h2>个人信息管理</h2>
							<img src="../img/account/personal_con_arrowdown.png" class="personal_arrow"/>
						</div>
						<div class="personal_per">
							<ul>
								<li><a href="###">站内信</a></li>
								<li><a href="###">个人信息</a></li>
								<li><a href="###">安全中心</a></li>
								<li><a href="###">收货地址</a></li>
								<li>	<a href="###">我的礼物</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="personal_changePwd_right">
					<div class="huiyuanzhongxin_step">
						<span>您的当前位置：</span><a href="personal.html">会员中心&nbsp;&gt;&nbsp;</a><a href="###">安全中心&nbsp;&gt;&nbsp;</a><span id="huiyuan_step3">修改密码</span>							
					</div>
					<div class="safe_Idcheck">
						<div class="safe_IdcheckUp">
							<ul>
								<li><span class="safe_changeUp_step">1</span><span class="safe_changeUp_step1">身份验证</span></li>
								<li><span class="safe_changeUp_step">2</span><span class="safe_changeUp_step2">修改密码</span></li>
								<li><span class="safe_changeUp_step">3</span><span class="safe_changeUp_step3">修改成功</span></li>
							</ul>
						</div>
						<div class="safe_Idcheckdown">
							<span>填写登录密码：</span>
							<input type="password" name="" placeholder="6~20个字符"/>
							<span>下一步</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!--公用底部-->
		<div class="usedb"></div>
		<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_log.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$(".usedb").load("../common/footer.html");
				
				
				//改变步骤1背景
				$(".safe_IdcheckUp ul li:first-child").css({
					color: "rgb(0,187,213)",
					borderBottom: "2px solid rgb(0,187,213)",
				});
				$(".safe_IdcheckUp ul li:first-child span:first-child").css("background","rgb(0,187,213)");
				
			//	$(".safe_changedown input").val()//判断表单输入密码和服务器密码异同 相同则点击进入下一步 不同显示提示
			
				//点击下一步成功时
			//	$(".safe_changedown span:last_child").css("background","lightgray"); //按钮背景色变灰
				
				switch ($.cookie("id")){//判断进入哪一个修改页面 进而改变样式
					case "pwd"://登录密码修改页
						$(".safe_Idcheckdown span:last-child").click(function(){
							 location.href =  "safe_"+$.cookie("id")+"2.html";//跳转到步骤2
						});
						console.log("pwd1");
						break;
					case "tel"://绑定电话修改页
						console.log("tel1");
						$("#huiyuan_step3").text("绑定新手机号");
						
						break;
					case "email"://电子邮箱修改页
						console.log("pwdemail1");
						break;
					case "pay"://支付密码修改页
						console.log("pay1");	
						break;
					default:
						break;
				};
			});
		</script>
	</body>
</html>
