<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>数码专区_数码相机排行榜_单反相机排行榜-正品保证顺丰包邮-顺电网上商城</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/shundian_faxian_shexiang.css"/>
	</head>
	<body>
		<div class="dingbu"></div>
		<!--轮播图-->
		<div class="swiper-container banner">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/sd1.jpg"/>
		        		</a>
		        </div>
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/sd2.jpg"/>
		        		</a>
		        </div>
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/s6-3.jpg"/>
		        		</a>
		        </div>
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/s6-2.jpg"/>
		        		</a>
		        </div>
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/s6-4.jpg"/>
		        		</a>
		        </div>
		        <div class="swiper-slide">
		        		<a href="products_details.html?goodsId=2"   target="_blank">
		        			<img src="../img/s6-5.jpg"/>
		        		</a>
		        </div>
		    </div>
		    <!-- 如果需要分页器 -->
		    <div class="swiper-pagination"></div>
		    
		    <!-- 如果需要导航按钮 -->
		    <!--<div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>-->
		    
		    <!-- 如果需要滚动条 -->
		    <!--<div class="swiper-scrollbar"></div>-->
		</div>
		
		<!--轮播结束-->
		<div class="hot center">
			<a href="products_details.html?goodsId=2"   target="_blank">
				<div class="hotpic hot_r">
					<img src="../img/dooby.jpg"/>
				</div>
			</a>
			<a href="products_details.html?goodsId=2"   target="_blank">
				<div class="hotpic hot_r">
					<img src="../img/a2.jpg"/>
				</div>
			</a>
			<a href="products_details.html?goodsId=2"   target="_blank">
				<div class="hotpic hot_r">
					<img src="../img/a3.jpg"/>
				</div>
			</a>
		</div>
		
		
		<!--数码相机-->
		<div class="part1 clearfix">
			<div class="center">
				<div class="nav">
					<a class="title" href="products_details.html?goodsId=2"   target="_blank">数码专区</a>
					<ul>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr first line" data-bind="1">微单相机</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="2">自拍神器</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="3">微单镜头</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="4">单反相机</li>
						</a>
					</ul>
				</div>
				<div class="slideclass">
					<!--11-->
					<!--1-->
					<div class="slide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">防抖高手</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">4K视频拍摄</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">佳能EOS M3微单套机</p>
								<p class="brand">CANON</p>
								<p class="price">￥4599.00</p>
								<div class="txt">
									<ul>
										<li>● 日本原装进口</li>
										<li>● 约2420万有效像素</li>
										<li>● 8种创意滤镜</li>
										<li>● 双镜头套机</li>
										<li>● DIGIC 6带来的高画质</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">自动对焦连拍</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">铝制随行 影像随心</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">进口徕卡T微单相机</p>
								<p class="brand">LEICA</p>
								<p class="price">￥10999.00</p>
								<div class="txt">
									<ul>
										<li>● 约1630万有效像素</li>
										<li>● Full HD画质动态影像录制功</li>
										<li>● 无线传输与智能设备连接</li>
										<li>● 简约设计的触控屏幕</li>
										<li>● 机身轻巧且坚固</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--1-->
					<!--2-->
					<div class="slide hide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">防抖高手</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">4K视频拍摄</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">佳能EOS M3微单套机</p>
								<p class="brand">CANON</p>
								<p class="price">￥4599.00</p>
								<div class="txt">
									<ul>
										<li>● 日本原装进口</li>
										<li>● 约2420万有效像素</li>
										<li>● 8种创意滤镜</li>
										<li>● 双镜头套机</li>
										<li>● DIGIC 6带来的高画质</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">自动对焦连拍</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">铝制随行 影像随心</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">进口徕卡T微单相机</p>
								<p class="brand">LEICA</p>
								<p class="price">￥10999.00</p>
								<div class="txt">
									<ul>
										<li>● 约1630万有效像素</li>
										<li>● Full HD画质动态影像录制功</li>
										<li>● 无线传输与智能设备连接</li>
										<li>● 简约设计的触控屏幕</li>
										<li>● 机身轻巧且坚固</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--2-->
					<!--3-->
					<div class="slide hide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">防抖高手</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">4K视频拍摄</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">佳能EOS M3微单套机</p>
								<p class="brand">CANON</p>
								<p class="price">￥4599.00</p>
								<div class="txt">
									<ul>
										<li>● 日本原装进口</li>
										<li>● 约2420万有效像素</li>
										<li>● 8种创意滤镜</li>
										<li>● 双镜头套机</li>
										<li>● DIGIC 6带来的高画质</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">自动对焦连拍</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">铝制随行 影像随心</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">进口徕卡T微单相机</p>
								<p class="brand">LEICA</p>
								<p class="price">￥10999.00</p>
								<div class="txt">
									<ul>
										<li>● 约1630万有效像素</li>
										<li>● Full HD画质动态影像录制功</li>
										<li>● 无线传输与智能设备连接</li>
										<li>● 简约设计的触控屏幕</li>
										<li>● 机身轻巧且坚固</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--3-->
					<!--11-->
					
				</div>
				<div class="dotbox ">
					<div class="dot dota2 firstdot"></div>
					<div class="dot dota2"></div>
					<div class="dot dota2"></div>
				</div>
			</div>
		</div>
		
		
		<!--特别合作品牌-->
		<div class="part2 clearfix">
			<div class="center">
				<p class="tit">特别合作品牌</p>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic">
						<img src="../img/brand2.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1 mr">
						<img src="../img/brand3.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1">
						<img src="../img/brand4.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1 mr">
						<img src="../img/brand5.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1 mr">
						<img src="../img/brand6.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1 mr">
						<img src="../img/brand7.jpg"/>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank">
					<div class="brandpic1">
						<img src="../img/brand1.jpg"/>
					</div>
				</a>
			</div>
		</div>
		
		
		
		
		<!--配件-->
		<div class="part5 clearfix">
			<div class="center">
				<div class="nav">
					<a class="title" href="products_details.html?goodsId=2"   target="_blank">配件</a>
					<ul>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr first line" data-bind="1">相机包</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="2">内存卡</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="3">清洁套装</li>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<li class="rr" data-bind="4">电池/三脚架</li>
						</a>
					</ul>
				</div>
				<div class="slideclass">
					<!--11-->
					<!--1-->
					<div class="slide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">重新定义街拍风格</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">曼富图摄行者系列双肩相机包</p>
								<p class="brand">MANFROTTO</p>
								<p class="price">￥549.00</p>
								<div class="txt">
									<ul>
										<li>● 背负舒适</li>
										<li>● 内置曼富图防护系统</li>
										<li>● 下层相机内胆可容纳</li>
										<li>● 隔层可容纳15英寸笔记本</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">人字背带设计</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">托卡诺单肩相机包CB-TP-SB</p>
								<p class="brand">TUCANO</p>
								<p class="price">￥499.00</p>
								<div class="txt">
									<ul>
										<li>● 两个内袋，容量大</li>
										<li>● 单肩背，携带方便</li>
										<li>● 背带宽厚，内附软海绵</li>
										<li>● 适合外出摄影</li>
										<li>● 外径：190*400*140mm</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">内附柔软海绵</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">托卡诺数码包CB-TP-SL</p>
								<p class="brand">TUCANO</p>
								<p class="price">￥299.00</p>
								<div class="txt">
									<ul>
										<li>● 容量大，可携带备用镜头</li>
										<li>● 底部隐藏防雨罩</li>
										<li>● 重量：0.47Kg</li>
										<li>● 外径：220*235*160mm</li>
										<li>● 适合外出摄影</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">防滴溅设计</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">托卡诺SCUDOS Gopro专用相机包</p>
								<p class="brand">TUCANO</p>
								<p class="price">￥159.00</p>
								<div class="txt">
									<ul>
										<li>● 轻便易携</li>
										<li>● 坚固耐用</li>
										<li>● 意大利设计</li>
										<li>● 适用产品GoPro系列</li>
										<li>● 适合小件收纳</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--1-->
					<!--2-->
					<div class="slide hide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">防抖高手</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">4K视频拍摄</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">佳能EOS M3微单套机</p>
								<p class="brand">CANON</p>
								<p class="price">￥4599.00</p>
								<div class="txt">
									<ul>
										<li>● 日本原装进口</li>
										<li>● 约2420万有效像素</li>
										<li>● 8种创意滤镜</li>
										<li>● 双镜头套机</li>
										<li>● DIGIC 6带来的高画质</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">自动对焦连拍</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">铝制随行 影像随心</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">进口徕卡T微单相机</p>
								<p class="brand">LEICA</p>
								<p class="price">￥10999.00</p>
								<div class="txt">
									<ul>
										<li>● 约1630万有效像素</li>
										<li>● Full HD画质动态影像录制功</li>
										<li>● 无线传输与智能设备连接</li>
										<li>● 简约设计的触控屏幕</li>
										<li>● 机身轻巧且坚固</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--2-->
					<!--3-->
					<div class="slide hide">
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_1">防抖高手</span>
								<img class="picture" src="../img/c1.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_2">4K视频拍摄</span>
								<img class="picture" src="../img/c2.jpg" alt="">
								<p class="name">佳能EOS M3微单套机</p>
								<p class="brand">CANON</p>
								<p class="price">￥4599.00</p>
								<div class="txt">
									<ul>
										<li>● 日本原装进口</li>
										<li>● 约2420万有效像素</li>
										<li>● 8种创意滤镜</li>
										<li>● 双镜头套机</li>
										<li>● DIGIC 6带来的高画质</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_3">自动对焦连拍</span>
								<img class="picture" src="../img/c3.jpg" alt="">
								<p class="name">索尼（SONY）全画幅微单</p>
								<p class="brand">SONY</p>
								<p class="price">￥7649.00</p>
								<div class="txt">
									<ul>
										<li>● 5轴防抖功能</li>
										<li>● 增强型混合自动对焦</li>
										<li>● 高品质的静态及动态影像</li>
										<li>● 可靠设计和专业操控</li>
										<li>● 约2430万有效像素</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
						<a href="products_details.html?goodsId=2"   target="_blank">
							<span class="product mr">
								<span class="tag tag_4">铝制随行 影像随心</span>
								<img class="picture" src="../img/c4.jpg" alt="">
								<p class="name">进口徕卡T微单相机</p>
								<p class="brand">LEICA</p>
								<p class="price">￥10999.00</p>
								<div class="txt">
									<ul>
										<li>● 约1630万有效像素</li>
										<li>● Full HD画质动态影像录制功</li>
										<li>● 无线传输与智能设备连接</li>
										<li>● 简约设计的触控屏幕</li>
										<li>● 机身轻巧且坚固</li>
									</ul>
									<span class="buynow">立即购买</span>
								</div>
							</span>
						</a>
					</div>
					<!--3-->
					<!--11-->
					
				</div>
				<div class="dotbox ">
					<div class="dot dota2 firstdot"></div>
					<div class="dot dota2"></div>
					<div class="dot dota2"></div>
				</div>
			</div>
		</div>
		<!--人气单品-->
		<div class="part3 clearfix">
			<div class="center">
				<p class="tit">人气单品</p>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="popular hot_r">
						<div class="popic"><img src="../img/camera1.jpg" alt=""></div>
						<p class="intro">富士无反新旗舰</p>
						<p class="price">￥11010</p>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="popular hot_r">
						<div class="popic"><img src="../img/camera2.jpg" alt=""></div>
						<p class="intro">索尼4D对焦微单数码相机</p>
						<p class="price">￥5839</p>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="popular">
						<div class="popic"><img src="../img/camera3.jpg" alt=""></div>
						<p class="intro">一次成像mini90相机（黑色）</p>
						<p class="price">￥1308</p>
					</div>
				</a>
			</div>
		</div>
		
		
		
		<!--摄影摄像-->
		<div class="part4 clearfix">
			<div class="center">
				<p class="tit">摄影摄像</p>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="product">
						<img class="pic_sy" src="../img/y1.jpg" alt="">
						<p class="intro">GoPro HERO 5 Black 运动相机</p>
						<p class="price">￥3999</p>
						<span class="buy">立即购买</span>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="product1">
						<img class="pic_sy" src="../img/y2.jpg" alt="">
						<p class="intro">大疆（DJI）Phantom 4 Pro无人机</p>
						<p class="price">￥9999</p>
						<span class="buy">立即购买</span>
					</div>
				</a>
				<a href="products_details.html?goodsId=2"   target="_blank" target="_blank">
					<div class="product">
						<img class="pic_sy" src="../img/y3.jpg" alt="" width="100%">
						<p class="intro">尼康D750 单反相机套机</p>
						<p class="price">￥14258</p>
						<span class="buy">立即购买</span>
					</div>
				</a>
			</div>
		</div>
		<!--底部-->
		<div class="dibu"></div>
		<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".dibu").load("../common/footer.html");
			var mySwiper = new Swiper('.swiper-container', {
				//方向 默认水平方向 horizontal  vertical垂直
				direction: 'horizontal',
				//是否开启自动播放 默认false true开启 默认切换时间间隔为3000ms
//				autoplay: true,
				autoplay: {
    					delay: 6000,//6秒切换一次
				},
				//是否开启循环播放  默认false true开启
				loop: true,
				//设置切换效果:
				// slide滑动 cube立方体 fade淡入 coverflow 3d流 flip 3d翻转
				effect: "fade",
//				fadeEffect: {
// 					crossFade: true,
//				},

				// 如果需要分页器
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
					bulletActiveClass: 'dots',
					clickable: true,
				},
				on: {
    					slideChangeTransitionStart: function(){
    						//activeIndex 返回当前活动块(激活块)的索引
     				 //alert(this.activeIndex);
     				 //当前活动块的索引,与activeIndex不同的是，在loop模式下不会将复制的块的数量计算在内
     				 console.log(this.realIndex);
    					},
  				},

				// 如果需要前进后退按钮
//				navigation: {
//					nextEl: '.swiper-button-next',
//					prevEl: '.swiper-button-prev',
//				},

				// 如果需要滚动条
//				scrollbar: {
//					el: '.swiper-scrollbar',
//				},
			})

		</script>
		<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				$(".swiper-container").hover(function(){
					mySwiper.autoplay.stop();
				}, function(){
					mySwiper.autoplay.start();
				});
				
				
				
			});
		</script>
	</body>
</html>
<script>
//	$(function() {
//		$(window).scroll(function() {
//			var topper= $(window).scrollTop();
//			console.log(1)
//			if(topper > 200) {
//				$(".gototop").show();
//			} else {
//				$(".gototop").hide();
//			}
//		});
//		$(".gototop").click(function() {
//			$("body,html").animate({
//				"scrollTop": 0
//			}, 1000)
//		});
//	});
</script>