<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>电脑办公专区_彩色激光打印机_手机照片打印机-正品保证顺丰包邮-顺电网上商城</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		
		<link rel="stylesheet" type="text/css" href="../css/shundian_faxian_dianban.css"/>
		
		<style type="text/css">
			#nanshou {
				border: 0;
			}
		</style>
	</head>
	<body>
		<div class="dingbu"></div>
		<!--展示图-->
		<div class="banner">
			<a href="###">
				<div class="ig1">
					<img src="../img/banner1.jpg"/>
				</div>
			</a>
			<a href="###">
				<div class="ig2">
					<img src="../img/banner2.jpg"/>
				</div>
			</a>
			<a href="###">
				<div class="ig3">
					<img src="../img/banner3.jpg"/>
				</div>
			</a>
			<a href="###">
				<div class="ig4">
					<img src="../img/banner4.jpg"/>
				</div>
			</a>
			<div class="icon">
				<div class="c1">
					<img src="../img/F1.png"/>
				</div>
				<div class="c2">
					<img src="../img/F1.png"/>
				</div>
				<div class="c3">
					<img src="../img/F1.png"/>
				</div>
				<div class="c4">
					<img src="../img/F1.png"/>
				</div>
			</div>
		</div>
		<!--分类区-->
		<div class="area">
			<a href="###">
				<div class="b">
					<div class="font">
						<div class="font1">笔记本电脑专区</div>
						<div class="font2">
							立即前往
							<div class="icon"></div>
						</div>
					</div>
					<div class="img1">
						<img src="../img/zq_1.jpg"/>
					</div>
				</div>
			</a>
			<a href="###">
				<div class="b2">
					<div class="font">
						<div class="font1">台式机专区</div>
						<div class="font2">
							立即前往
							<div class="icon"></div>
						</div>
					</div>
					<div class="img1">
						<img src="../img/zq_2.jpg"/>
					</div>
				</div>
			</a>
			<a href="###">
				<div class="b">
					<div class="font">
						<div class="font1">办公设备</div>
						<div class="font2">
							立即前往
							<div class="icon"></div>
						</div>
					</div>
					<div class="img1">
						<img src="../img/zq_3.jpg"/>
					</div>
				</div>
			</a>
		</div>
		<!--主推banner-->
		<div>
			<a href="###" style="margin: auto;">
				<div class="featured">
					
				</div>
			</a>
			<div class="fix"></div>
		</div>
		<!--电脑-->
		<div class="content" id="nanshou">
			<div class="title">
				<div class="font1">电脑</div>
				<div class="font2">
					<a href="###">more</a>
				</div>
			</div>
			<div class="nav">
				<!--daohang-->
				<div class="mod1"></div>
				<div class="mod2"></div>
				<div class="mod3"></div>
			</div>
			<div class="product1">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">轻巧纤薄</div>
						<div class="img1">
							<img src="../img/143567.jpg"/>
						</div>
						<div class="font2">
							Apple MacBook Pro 13.3英寸笔记本电脑
							<p class="font2">
								￥7388
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">畅快游戏</div>
						<div class="img1">
							<img src="../img/product_3.jpg"/>
						</div>
						<div class="font2">
							联想Y700-15 15.6英寸电脑游戏本
							<p class="font2">
								￥5499
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
			</div>
			<div class="product2">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
			<div class="product3">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
		</div>
		<!--品牌汇聚-->
		<div class="brand">
			<div class="title">品牌汇聚</div>
			<div class="t">
				<a href="###">
					<div class="t1"></div>
				</a>
				<div class="t2">
					<a href="###">
						<div class="t2_1"></div>
					</a>
					<a href="###">
						<div class="t2_2"></div>
					</a>
					<a href="###">
						<div class="t2_3"></div>
					</a>
					<a href="###">
						<div class="t2_4"></div>
					</a>
					<a href="###">
						<div class="t2_5"></div>
					</a>
					<a href="###">
						<div class="t2_6"></div>
					</a>
					<a href="###">
						<div class="t2_7"></div>
					</a>
					<a href="###">
						<div class="t2_8"></div>
					</a>
				</div>
			</div>
		</div>
		<!--电脑配件-->
		<div class="content2">
			<div class="title">
				<div class="font1">电脑配件</div>
				<div class="font2">
					<a href="###">more</a>
				</div>
			</div>
			<div class="nav">
				<!--daohang-->
				<div class="mod4"></div>
				<div class="mod5"></div>
				<div class="mod6"></div>
				<div class="mod7"></div>
			</div>
			<div class="product4">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
			<div class="product5">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
			<div class="product6">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
			<div class="product7">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
		</div>
		<!--办公设备-->
		<div class="content3">
			<div class="title">
				<div class="font1">办公设备</div>
				<div class="font2">
					<a href="###">more</a>
				</div>
			</div>
			<div class="nav">
				<!--daohang-->
				<div class="mod8"></div>
				<div class="mod9"></div>
				<div class="mod10"></div>
			</div>
			<div class="product8">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
			</div>
			<div class="product9">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
			<div class="product10">
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				
				<div style="clear: both;"></div>
				<div class="dashed2"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
				<div class="dashed"></div>
				
				<a href="###">
					<div class="p">
						<div class="font1">幻彩键盘</div>
						<div class="img1">
							<img src="../img/product_1.jpg"/>
						</div>
						<div class="font2">
							雷蛇（Razer）14英寸笔记本
							<p class="font2">
								￥9908
							</p>
						</div>
						<div class="button">立即购买</div>
					</div>
				</a>
			</div>
		</div>
		<!--品牌汇聚2-->
		<div class="brand2">
			<div class="title">品牌汇聚</div>
			<div class="table1">
				<div class="k1">
					<img src="../img/LOGO1.jpg"/>
				</div>
				<div class="k1">
					<img src="../img/LOGO2.jpg"/>
				</div>
				<div class="k1">
					<img src="../img/LOGO3.jpg"/>
				</div>
				<div class="k1">
					<img src="../img/LOGO4.jpg"/>
				</div>
				<div class="k1">
					<img src="../img/LOGO5.jpg"/>
				</div>
				<div class="k2">
					<img src="../img/LOGO6.jpg"/>
				</div>
				<a href="###">
					<div class="k3">
						<img src="../img/ppxp_01.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
				<a href="###">
					<div class="k3">
						<img src="../img/ppxp_02.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
				<a href="###">
					<div class="k3">
						<img src="../img/ppxp_03.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
				<a href="###">
					<div class="k3">
						<img src="../img/ppxp_04.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
				<a href="###">
					<div class="k3">
						<img src="../img/ppxp_05.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
				<a href="###">
					<div class="k4">
						<img src="../img/ppxp_06.jpg"/>
						<div class="t">
							<div class="button">立即购买</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!--人气单品-->
		<div class="hot">
			<div class="title">人气单品</div>
			<div class="hr"></div>
			<div class="content" id="nanshou">
				<a href="###">
					<div class="m1"></div>
				</a>
				<a href="###">
					<div class="m2"></div>
				</a>
				<a href="###">
					<div class="m3"></div>
				</a>
			</div>
		</div>
		<!--下方四长条-->
		<div class="footerbanner1">
			<a href="###">
				<div class="img"></div>
			</a>
		</div>
		<div class="footerbanner2">
			<a href="###">
				<div class="img"></div>
			</a>
		</div>
		<div class="footerbanner3">
			<a href="###">
				<div class="img"></div>
			</a>
		</div>
		<div class="footerbanner4">
			<a href="###">
				<div class="img"></div>
			</a>
		</div>
		<div class="footer">
			<a href="#top">
				<div class="m1">
					返回顶部
				</div>
			</a>
			<a href="###">
				<div class="m2">
					返回首页
				</div>
			</a>
		</div>
		
		<div class="gototop"><img src="https://www.sundan.com/themes/shundian/widgets/index_leftnav/images/index_top.jpg"></div>
		
		
		<div class="wangcai"></div>
	</body>
	<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		//banner切换效果
		$(function(){
			$(".c1").css({"background":"url(../img/E1.png)no-repeat"});

			$(".c1").click(function(){
				$(".ig1").fadeIn(0);
				$(".ig2").fadeOut(0);
				$(".ig3").fadeOut(0);
				$(".ig4").fadeOut(0);
				$(".c1").css({"background":"url(../img/E1.png)no-repeat"});
				$(".c2").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c3").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c4").css({"background":"url(../img/F1.png)no-repeat"});

			});

			$(".c2").click(function(){
				$(".ig1").fadeOut(0);
				$(".ig2").fadeIn(0);
				$(".ig3").fadeOut(0);
				$(".ig4").fadeOut(0);
				$(".c1").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c2").css({"background":"url(../img/E1.png)no-repeat"});
				$(".c3").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c4").css({"background":"url(../img/F1.png)no-repeat"});

			});

			$(".c3").click(function(){
				$(".ig1").fadeOut(0);
				$(".ig2").fadeOut(0);
				$(".ig3").fadeIn(0);
				$(".ig4").fadeOut(0);
				$(".c1").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c2").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c3").css({"background":"url(../img/E1.png)no-repeat"});
				$(".c4").css({"background":"url(../img/F1.png)no-repeat"});

			});

			$(".c4").click(function(){
				$(".ig1").fadeOut(0);
				$(".ig2").fadeOut(0);
				$(".ig3").fadeOut(0);
				$(".ig4").fadeIn(0);
				$(".c1").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c2").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c3").css({"background":"url(../img/F1.png)no-repeat"});
				$(".c4").css({"background":"url(../img/E1.png)no-repeat"});

			});

		});
		//产品模块切换
		$(function(){
			$(".mod1").mousemove(function(){
			$(".product1").fadeIn(0);
			$(".product2").fadeOut(0);
			$(".product3").fadeOut(0);
				$(".mod1").css({"background":"url(../img/mod_01.jpg)no-repeat"});
				$(".mod2").css({"background":"url(../img/mod_02.jpg)no-repeat"});
				$(".mod3").css({"background":"url(../img/mod_03.jpg)no-repeat"});

			});

			$(".mod2").mousemove(function(){
				$(".product1").fadeOut(0);
				$(".product2").fadeIn(0);
				$(".product3").fadeOut(0);
				$(".mod1").css({"background":"url(../img/mod_1.1.jpg)no-repeat"});
			    $(".mod2").css({"background":"url(../img/mod_2.2.jpg)no-repeat"});
			    $(".mod3").css({"background":"url(../img/mod_03.jpg)no-repeat"});

			})

			$(".mod3").mousemove(function(){
				$(".product1").fadeOut(0);
				$(".product2").fadeOut(0);
				$(".product3").fadeIn(0);
				$(".mod1").css({"background":"url(../img/mod_1.1.jpg)no-repeat"});
			    $(".mod2").css({"background":"url(../img/mod_02.jpg)no-repeat"});
			    $(".mod3").css({"background":"url(../img/mod_3.3.jpg)no-repeat"});
						
			})

			$(".mod4").mousemove(function(){
				$(".product4").fadeIn(0);
				$(".product5").fadeOut(0);
				$(".product6").fadeOut(0);
				$(".product7").fadeOut(0);
				$(".mod4").css({"background":"url(../img/mod_04.jpg)no-repeat"});
			    $(".mod5").css({"background":"url(../img/mod_05.jpg)no-repeat"});
			    $(".mod6").css({"background":"url(../img/mod_06.jpg)no-repeat"});
			    $(".mod7").css({"background":"url(../img/mod_07.jpg)no-repeat"});

			})

			$(".mod5").mousemove(function(){
				$(".product4").fadeOut(0);
				$(".product5").fadeIn(0);
				$(".product6").fadeOut(0);
				$(".product7").fadeOut(0);
				$(".mod4").css({"background":"url(../img/mod_4.4.jpg)no-repeat"});
			    $(".mod5").css({"background":"url(../img/mod_5.5.jpg)no-repeat"});
			    $(".mod6").css({"background":"url(../img/mod_06.jpg)no-repeat"});
			    $(".mod7").css({"background":"url(../img/mod_07.jpg)no-repeat"});

			})

			$(".mod6").mousemove(function(){
				$(".product4").fadeOut(0);
				$(".product5").fadeOut(0);
				$(".product6").fadeIn(0);
				$(".product7").fadeOut(0);
				$(".mod4").css({"background":"url(../img/mod_4.4.jpg)no-repeat"});
			    $(".mod5").css({"background":"url(../img/mod_05.jpg)no-repeat"});
			    $(".mod6").css({"background":"url(../img/mod_6.6.jpg)no-repeat"});
			    $(".mod7").css({"background":"url(../img/mod_07.jpg)no-repeat"});

			})

			$(".mod7").mousemove(function(){
				$(".product4").fadeOut(0);
				$(".product5").fadeOut(0);
				$(".product6").fadeOut(0);
				$(".product7").fadeIn(0);
				$(".mod4").css({"background":"url(../img/mod_4.4.jpg)no-repeat"});
			    $(".mod5").css({"background":"url(../img/mod_05.jpg)no-repeat"});
			    $(".mod6").css({"background":"url(../img/mod_06.jpg)no-repeat"});
			    $(".mod7").css({"background":"url(../img/mod_7.7.jpg)no-repeat"});

			})

			$(".mod8").mousemove(function(){
				$(".product8").fadeIn(0);
				$(".product9").fadeOut(0);
				$(".product10").fadeOut(0);
				$(".mod8").css({"background":"url(../img/mod_08.jpg)no-repeat"});
			    $(".mod9").css({"background":"url(../img/mod_09.jpg)no-repeat"});
			    $(".mod10").css({"background":"url(../img/mod_10.jpg)no-repeat"});

			})

			$(".mod9").mousemove(function(){
				$(".product8").fadeOut(0);
				$(".product9").fadeIn(0);
				$(".product10").fadeOut(0);
				$(".mod8").css({"background":"url(../img/mod_8.8.jpg)no-repeat"});
			    $(".mod9").css({"background":"url(../img/mod_9.9.jpg)no-repeat"});
			    $(".mod10").css({"background":"url(../img/mod_10.jpg)no-repeat"});

			})

			$(".mod10").mousemove(function(){
				$(".product8").fadeOut(0);
				$(".product9").fadeOut(0);
				$(".product10").fadeIn(0);
				$(".mod8").css({"background":"url(../img/mod_8.8.jpg)no-repeat"});
			    $(".mod9").css({"background":"url(../img/mod_09.jpg)no-repeat"});
			    $(".mod10").css({"background":"url(../img/mod_10.10.jpg)no-repeat"});

			})
		})
		$(".public-top .public-center .search input").css({"width":"608px","height":"43px"})
	</script>
	<script type="text/javascript">
		$(".wangwang").load("../common/sousuo_nav.html")
		$(".wangcai").load("../common/footer.html")
	</script>
</html>
<script>
	$(function() {

		$(window).scroll(function() {
			var $_scrollTops = $(window).scrollTop();
			if($_scrollTops > 200) {
				$(".gototop").show();
			} else {
				$(".gototop").hide();
			}
		});
		$(".gototop").click(function() {
			$("body,html").animate({
				"scrollTop": 0
			}, 1000)
		});
	});
</script>