<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>以旧换新</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../css/shundian_yijiuhuanxin.css"/>
		
		
		
		<style type="text/css">
			#nanshou {
				border: none;
			}
		</style>
	</head>
	<body>
		<!--搜索公用-->
		<div class="dingbu"></div>
		
		<div id="container" class="page-container clearfix">
			<div class="inner-wrap">
				<div class="bread-crumbs">
					<span style="display: none;">您当前的位置：</span>
				</div>
				<div class="framescx">
					<!--促销-->
					<div class="slide_mark">
						<div class="active_pop">
							<img src="../img/active0929.png"/>
							<div class="close_pop"></div>
						</div>
					</div>
					<!--上方伪轮播图-->
					<div class="class_banner">
						<div class="bannerbox">
							<img src="../img/banner0430.png"/>
						</div>
					</div>
					<!--下方的全部内容-->
					<div class="section">
						<div class="hot-title-other1">操作流程</div>
						<div class="class_liucheng">
							<div class="liucheng">
								<div class="content" id="nanshou">
						          	<ul class="clearfix">
										<li>
											<div class="content_img"><img alt="" src="../img/f-02.png"></div>
											<div class="content_no"><span>1</span></div>
											<div class="content_text"><span>选择旧机询价、下单</span></div>
										</li>
										<div class="jiantou"><img alt="" src="../img/jiantou.png"></div>
										<li>
											<div class="content_img"><img alt="" src="../img/f-03.png"></div>
											<div class="content_no"><span>2</span></div>
											<div class="content_text"><span>免费上门或快递回收</span></div>
										</li>
										<div class="jiantou"><img alt="" src="../img/jiantou.png"></div>
										<li>
											<div class="content_img"><img alt="" src="../img/f-04.png"></div>
											<div class="content_no"><span>3</span></div>
											<div class="content_text"><span>回收成功获得现金券</span></div>
										</li>
										<div class="jiantou"><img alt="" src="../img/jiantou.png"></div>
										<li>
											<div class="content_img"><img alt="" src="../img/f-05.png"></div>
											<div class="content_no"><span>4</span></div>
											<div class="content_text"><span>使用现金券购买新机</span></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="hot-title-other1">回收品类</div>
						<div class="class_link">
							<ul class="categorys clearfix">
						        <li>
						          	<a data-type="category=3" href="###">
						            		<div class="pic"><img alt="手机" src="../img/c_phone.png"></div>
						            		<div class="name">手机</div>
						          	</a>
						        </li>
						        <li>
									<a data-type="category=5" href="###">
										<div class="pic"><img alt="笔记本" src="../img/c_notebook.png"></div>
										<div class="name">笔记本</div>
									</a>
								</li>
								<li>
									<a data-type="category=2" href="###">
										<div class="pic"><img alt="大家电" src="../img/c_appliances.png"></div>
										<div class="name">大家电</div>
									</a>
								</li>
								<li>
									<a data-type="category=1" href="###">
										<div class="pic"><img alt="照相机" src="../img/c_camera.png"></div>
										<div class="name">照相机</div>
									</a>
								</li>
								<li>
									<a data-type="category=4" href="###">
										<div class="pic"><img alt="平板" src="../img/c_pad.png"></div>
										<div class="name">平板</div>
									</a>
								</li>
								<li>
									<a data-type="category=7" href="###">
										<div class="pic"><img alt="电脑配件" src="../img/c_peijian.png"></div>
										<div class="name">电脑配件</div>
									</a>
								</li>
						    </ul>
							<div class="bg-btn">
								<div class="clearfix">
						            	<a href="###"><div class="start_recycle">开始以旧换新<i></i></div></a>
						            	<a href="###" target="_blank"><div class="my_order">我的回收单<i></i></div></a>
						        	</div>
						        	<div class="tishi clearfix">
						        		以旧换新专线
						        		<span style="color:#00BBD7;">4006-502-518，</span>
						        		服务时间09：00-21：00
						        	</div>
							</div>
						</div>
						<div class="class_hot">
							<div class="hot_section">
								<div class="hot-title">热门回收品牌和机型</div>
								<div class="center" style="width: 1225px;">
									<div class="brand_list">
										<ul class="center t_c brands clearfix">
											<li class="brand">
												<a href="###" data-type="bname=apple"><img alt="苹果" src="../img/s_iphone.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=huawei"><img alt="华为" src="../img/s_huaiwei.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=samsung"><img alt="三星" src="../img/s_samsung.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=meizu"><img alt="魅族" src="../img/s_meizu.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=smartisan"><img alt="锤子" src="../img/s_smartisan.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=oppo"><img alt="oppo" src="../img/s_oppo.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=vivo"><img alt="vivo" src="../img/s_vivo.jpg"></a>
											</li>
											<li class="brand">
												<a href="###" data-type="bname=nikon"><img alt="联想" src="../img/s_lenovo.jpg"></a>
											</li>
										</ul>
									</div>
									<div class="hot_list clearfix" id="hot_recycle">
										<ul>
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front11.jpg"/>
												</div>
												<div class="merName">乐1</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥343</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>458
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front1.jpg"/>
												</div>
												<div class="merName">小米M4</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥325</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>419
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front2.jpg"/>
												</div>
												<div class="merName">苹果 iphone5s</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥1410</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>1610
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front3.jpg"/>
												</div>
												<div class="merName">苹果 iphone6</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥2000</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>2500
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front4.jpg"/>
												</div>
												<div class="merName">华为 荣耀6 plus</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥894</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>985
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front5.jpg"/>
												</div>
												<div class="merName">三星 Galaxy Note 3
</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥650</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>700
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front6.jpg"/>
												</div>
												<div class="merName">苹果 ipad mini</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥1000</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>1200
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front7.jpg"/>
												</div>
												<div class="merName">联想ThinkPad X1</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥1200</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>1500
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front8.jpg"/>
												</div>
												<div class="merName">佳能 600D</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥800</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>1000
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
											<li class="item" id="item">
												<div class="img">
													<img src="../img/front9.jpg"/>
												</div>
												<div class="merName">S40</div>
												<div class="industry clearfix">
													<span class="left">行业均价：</span>
													<span class="right"><del>¥190</del></span>
												</div>
												<div class="counts clearfix">
													<span class="left">顺电均价：</span>
													<span class="right">
														<span class="right_label">
															¥</span>352
													</span>
												</div>
												<div class="togo clearfix" id="togo">
													<a href="###">
														<div class="immediately" id="immediately">我要以旧换新</div>
													</a>
												</div>
											</li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="class_description">
							<div class="description">
								<div class="description_up">不出门，废旧产品也能轻松搞定</div>
						        <div class="description_img">
						        	由顺电网上商城合作伙伴协助开展，手机平板、笔记本电脑、相机等不论国行、港行均可回收报价，所有服务完全免费
						        </div>
						    </div>
						    <div class="class_baozhang">
								<div class="hot-title-other1">服务保证</div>
								<div class="content" id="nanshou">
									<div class="content_img"><img alt="" src="../img/liucheng.png"></div>
									<ul class="clearfix">
										<li>
											<div class="content_text"><span>十大城市<br>上门回收</span></div>
										</li>
										<li>
											<div class="content_text"><span>顺丰上门<br>全国包邮</span></div>
										</li>
										<li>
											<div class="content_text"><span>专业工程师<br>质检认证</span></div>
										</li>
										<li>
											<div class="content_text"><span>清除数据<br>隐私保护</span></div>
										</li>
									</ul>
								</div>
							</div>
							<div class="calss_question">
								<div class="center">
									<div class="hot-title-other1">常见问题</div>
									<div class="content" id="nanshou">
										<ul>
											<br><br>
											<li>
												<div class="question"><i>Q：</i>顺电网上商城以旧换新活动规则？</div>
												<div class="answer">
													<div class="act_left">A：</div>
													<div class="act_right">
														<div class="activecon">
															<div class="con_list">
																<span class="no">（1）</span><span class="txt">用户在活动期间通过商城以旧换新入口进入回收系统，按正常流程回收并下单。</span>
															</div>
															<div class="con_list">
																<span class="no"> &nbsp; </span><span class="txt">旧机价值满500元赠50元现金红包；</span>
															</div>
															<div class="con_list">
																<span class="no"> &nbsp; </span><span class="txt">旧机价值满1000元赠100元现金红包；</span>
															</div>
															<div class="con_list">
																<span class="no"> &nbsp; </span><span class="txt">旧机价值满2000元赠200元现金红包；</span>
															</div>
															<div class="con_list">
																<span class="no">（2）</span><span class="txt">用户在活动期间下单，但旧机回收时间超过4月3日无法获得现金红包；</span>
															</div>
															<div class="con_list">
																<span class="no">（3）</span><span class="txt">活动期间每个用户ID、IP、手机号码仅限参与一次；</span>
															</div>
															<div class="con_list">
																<span class="no">（4）</span><span class="txt">活动仅限3C品类参与；</span>
															</div>
															<div class="con_list">
																<span class="no">（5）</span><span class="txt">现金红包将在4月3日前统一由有得卖直接联系进行发放，请保持下单手机号畅通，三次及以上联系不上视为放弃领取资格。</span>
															</div>
														</div>
													</div>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>如何把旧商品换成顺电钱包现金券？</div>
												<div class="answer">
													<i>A：</i>
													<p>&nbsp;（1）首先选择/搜索您的旧商品型号，如实评估，提交订单，提交成功后您将收到订单确认短信；<br> &nbsp;（2）根据短信提示等待上门回收（目前支持上门回收的城市有北京、上海、广州、深圳、天津、成都、苏州、重庆、南京、杭州）或者将旧商品通过顺
														<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;丰快递给回收方；
														<br> &nbsp;（3）有得卖收到旧家电后，在48小时内完成检测，有异常情况下还会有客服人员与您电话沟通，达成一致就会向您发放等额的顺电钱包现金券。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>顺电钱包现金券有什么作用，怎么进行使用？</div>
												<div class="answer">
													<i>A：</i>
													<p>&nbsp;（1）在顺电网上商城购买商品时可用该现金券直接抵扣相应现金，现金券可适用于顺电网上商城的所有商品；<br> &nbsp;（2）通过顺电网上商城以旧换新平台获得的顺电钱包现金券，会直接发放到您的顺电钱包中，登录顺电网上商城，购买商品时即可使用。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>为什么查不到我的器材型号？哪些机器不回收？</div>
												<div class="answer">
													<i>A：</i>
													<p>
														&nbsp;（1）如果您未找到您的器材型号，请拨打4006502518咨询客服，我们将尽快在官网上进行信息更新；<br> &nbsp;（2）山寨机，高仿机，扳机，烧卡机（写号机）、改卡机及网站上没有的品牌都不回收。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>为什么要如实描述回收物品？</div>
												<div class="answer">
													<i>A：</i>
													<p>
														&nbsp;如实描述，可以帮助回收方对物品准确地进行评估，实物与描述不符或不实描述，会使得最终交易价格与估计之间产生差异，甚至交易最终无法达成。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>支持上门回收吗？快递费用由谁来承担？</div>
												<div class="answer">
													<i>A：</i>
													<p>
														&nbsp;（1）北京、上海、广州、深圳、杭州、南京、成都、沈阳8个城市的用户可以选择3C产品上门服务，其它地区用户在邮寄物品时选择顺丰快递。如评估物品与实际检测明显<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不符造成巨大价格差异从而造成交易无法达成，则退回物品的运费，由用户自行承担。 大家电品类不支持快递服务，目前仅支持北京、上海、广州、深圳、天津、成<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;都、南京、苏州、常州、无锡、郑州、沈阳、合肥13个城市上门服务。
														<br> （2）快递费用承担标准：手机、平板电脑品类：江浙沪地区最多承担12元快递费用；江浙沪以外的地区最多承担18元快递费用；笔记本电脑、数码相机、相机
														<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 镜头品类：回收商最多承担30元快递费用； 多出的快递费用由用户自行承担。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
											<br><br>
											<hr size="1" style="border:1px #BEBEBE dashed;"><br><br>
											<li>
												<div class="question"><i>Q：</i>数据怎么清理，如何保证我的隐私安全？</div>
												<div class="answer">
													<i>A：</i>
													<p>
														&nbsp;交易达成后将恢复商品的出厂设置，删除产品原有信息，并进行数据覆盖，确保产品数据安全。
													</p>
													<div style="clear: both;"></div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
				
				
				
				
				
			</div>
		</div>
		<!--底部-->
		<div class="wangcai"></div>
		<script src="../js/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".wangwang").load("../common/sousuo_nav.html");
			$(".wangcai").load("../common/footer.html");
		</script>
	</body>
</html>
