<div id="sdLogIn">
	<p>顺电网上商城已升级，会员登录小贴士</p>
</div>
<div id="logIncontent">

	<div id="">
		<p class="pwd">一、顺电网上商城现在的密码分为“登录密码”和“支付密码”。</p>
		<p>登录密码用于商城登录，支付密码也就是POS密码，用于积分兑换、顺电钱包支付。</p>
	</div>
	<div id="">
		<p class="pwd">二、改密码</p>
		<p>1、改登录密码可点击忘记密码找回</p>
		<p>2、改支付密码A、带身份证去门店更改;</p>
		<p class="special"> B、特殊处理：联系网上商城在线客服，通过短信验证码更改；</p>
		<p class="change">积分兑换期间，更改密码的顾客太多，特殊处理的需提供购买的发票照片和会员号，</p>
		<p class="change">由网上商城客服在客户服务系统更改。<span class="change_color">更改后的密码，通过短信发给顾客。</span></p>
	</div>
	<div id="">
		<p class="pwd">三、第一次登录顺电网上商城的顾客进行绑定</p>
		<div id="">
			<p>1、 登录
				<a href="###" class="click">www.sundan.com</a>点击登录</p>
			<img src="../img/side_firstpage/ff582388fddd8d6e628100a5dc06cebc4d52115c.png" alt="" />
		</div>
		<div id="">
			<p>2、 首次登录，请点击“点击此处”</p>
			<img src="../img/side_firstpage/0fd51a1b496216f0150a4fcbeb1831bf063f7805.png" />
		</div>
		<div id="">
			<p>3、 根据提示绑定成功即可，忘记密码请参考第二点。</p>
			<img src="../img/side_firstpage/d43e6a96c2d86512421672c876f3e9f47ba069cb.png" />
		</div>
	</div>
</div>