<div id="sdLogIn">
							
						
							
								
	简历请发到 youpin@sundan.com，标题注明：“应聘『职位』+名字”，并附带一封求职信。
	                           
	                           
							
							
								
							</div>	
							<div id="logIncontent">
								
							
<p>我们长期开放招聘以下的职位：</p>


<p>#1营销专员</p>

<p>岗位职责：</p>

<p>1、了解企业的经营理念，企业文化以及销售商品的特点；</p>

<p>2、运用各种销售技巧，营造顾客在卖场的参与气氛，提高顾客的购买愿望，提升卖场的营业额；</p>

<p>3、负责手机、苹果系列、数码产品销售，商品管理的柜台销售；</p>

<p>4、负责产品的保管、清点、店面形象的维护；</p>

<p>5、遵守公司各项规章，接受店长工作安排；</p>

<p>6、按时无误的填写各种票据。</p>

<p>任职资格：</p>

<p>1、中专及以上学历；</p>

<p>2、对手机、数码、电脑等家电有兴趣，并致力于零售行业长期发展；</p>

<p>3、能吃苦，目标清晰，愿意承担更多责任，积极进取；</p>

<p>4、良好的服务意识和表达能力，热情开朗，积极性高。</p>

 

<p>#2收银专员</p>

<p>岗位职责:</p>

<p>1、按服务规范接待顾客，为内外部顾客提供良好的服务；
</p>
<p>2、核对销售单据，确保准确收银；</p>

<p>3、制作、打印、复核收银相关凭证；</p>

<p>4、编制收银相关报表；</p>

<p>5、妥善保管营业款、收银设备和办公用品；</p>

<p>6、领导安排的其它工作。</p>

<p>任职资格:</p>

<p>1、18～30周岁，中专及以上学历；</p>

<p>2、熟练操作电脑与办公软件；</p>

<p>3、良好的客服意识与亲和力。</p>

 

<p>#3配送司机</p>

<p>岗位职责：</p>

<p>1、每天早上从公司出发送货至顾客家，保证行驶安全和货物安全；</p>

<p>2、协调安排行车路线和送货安装师傅的行程；</p>

<p>3、车辆日常保养和安全检查；</p>

<p>任职资格：</p>

<p>1、20 ~ 35岁，初中及以上学历；</p>

<p>2、持有B2驾驶证，熟悉了解车辆的保养及维护，熟悉苏州路况的优先；</p>

<p>3、身体健康，积极主动，富有团队合作精神和客服意识。</p>

 

<p>#4仓库理货员</p>

<p>岗位职责：</p>

<p>1、熟悉所在商品部门的商品名称、产地、厂家、规格、用途、性能、保质期限；</p>

<p>2、遵守超市仓库管理和商品发货的有关规定，按作业流程进行该项工作；</p>

<p>3、掌握商品标价的知识，正确标好价格；</p>

<p>4、熟练掌握商品陈列的有关专业知识，并把它运用到实际工作中；</p>

<p>5、搞好货架与责任区的卫生，保证清洁；</p>

<p>6、对顾客挑选后、货架剩余商品进行清理并作好商品的补充工作。</p>

<p>任职资格：</p>

<p>1、高中以上学历；</p>

<p>2、有大型商场或超市工作经验者优先；</p>

<p>3、品貌端正，热爱零售行业，吃苦耐劳，责任心强，身体健康，有很强的敬业精神和良好的心理素质；</p>

<p>4、具备简单的计算机操作技巧，了解商品分类和存储知识；</p>

<p>5、能够胜任繁重的体力工作，能适应中夜班调休安排。</p>
</div>

