<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>交易须知-顺电网上商城-高端家电购物商城，正品保障-支持送货上门</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/side.css" />
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	</head>

	<body>
		<div id="uset">

		</div>
		<div id="helpWrap">
			<div id="help">
				<a id="firstHref" href="help_center1.html"><span id="helpCenter">帮助中心</span></a>
				<span id="">
				>
			</span>
				<a id="secondHref" href="new_hand.html"><span id="newConstructor">新手指引</span></a>
				<span id="arrowFirst">
				>
			</span>
				<span id="changeKnow">交易须知</span>
			</div>
		</div>

		<div id="sideWrap">
			<div id="side">

				<!--帮助中心-->
				<div id="helpCenterNav">
					<div class="cart_cy">
						<a href="help_center1.html">
							<img src="../img/side/art_cart.png" />
							<span>帮助中心</span>
						</a>
						<img class="title_up" />
					</div>
					<div class="side_con  side_cart_cy">
						<a href="###">
							<p class="logIn" id="side_page1">会员登录小贴士</p>
						</a>
						<a href="###">
							<p id="side_page2">人才招聘</p>
						</a>
						<a href="###">
							<p id="side_page3">网站合作</p>
						</a>
						<a href="###">
							<p id="side_page4">联系方式</p>
						</a>
						<a href="###">
							<p id="side_page5">投资者关系</p>
						</a>
						<a href="###">
							<p>品牌故事</p>
						</a>
						<a href="###">
							<p>售后申请</p>
						</a>
						<a href="###">
							<p>售后政策</p>
						</a>
						<a href="###">
							<p>退款说明</p>
						</a>
						<a href="###">
							<p>订单说明</p>
						</a>
						<a href="###">
							<p>配送方式</p>
						</a>
						<a href="###">
							<p>运费政策</p>
						</a>
						<a href="###">
							<p>汇款转账</p>
						</a>
						<a href="###">
							<p>在线支付</p>
						</a>
						<a href="###">
							<p>联系客服</p>
						</a>
						<a href="###">
							<p>开具发票</p>
						</a>
						<a href="###">
							<p>交易须知</p>
						</a>

					</div>
				</div>
				<!--帮助中心2-->
				<div id="helpCenterSecond">
					<div class="cart_cy">
						<a href="">
							<img src="../img/side/art_check.png" />
							<span>帮助中心</span>
						</a>
						<img class="title_up" src="../img/side/member-menu-title-up.png" />
					</div>
					<div class="side_con side_check">
						<a href="###">
							<p>怎样选购洗衣机？</p>
						</a>
						<a href="###">
							<p>怎样选购电视？</p>
						</a>
						<a href="###">
							<p>怎样选购剃须刀？</p>
						</a>
						<a href="###">
							<p>怎样选购笔记本？</p>
						</a>
						<a href="###">
							<p>如何选购家庭影院？</p>
						</a>
						<a href="###">
							<p>如何选购功放机？</p>
						</a>
						<a href="###">
							<p>如何选购DVD播放器</p>
						</a>
						<a href="###">
							<p>如何选购影音器材</p>
						</a>
						<a href="###">
							<p>如何选购血压计？</p>
						</a>
						<a href="###">
							<p>如何选购平板电脑？</p>
						</a>
						<a href="###">
							<p>怎样选购移动电源？</p>
						</a>
						<a href="###">
							<p>如何选购手机壳？</p>
						</a>
						<a href="###">
							<p>怎样选购电脑？</p>
						</a>
						<a href="###">
							<p>怎样选购空气净化器？</p>
						</a>
						<a href="###">
							<p>怎样选购游戏电玩？</p>
						</a>
						<a href="###">
							<p>怎样选购除湿机？</p>
						</a>
						<a href="###">
							<p>如何选购挂烫机？</p>
						</a>
						<a href="###">
							<p>如何选购空调扇？</p>
						</a>
						<a href="###">
							<p>如何选购数据线？</p>
						</a>
						<a href="###">
							<p>如何选购存储卡？</p>
						</a>
						<a href="###">
							<p>如何选购手机膜？</p>
						</a>
						<a href="###">
							<p>怎样选购吸尘器？</p>
						</a>
						<a href="###">
							<p>怎样选购手机？</p>
						</a>
						<a href="###">
							<p>如何选购U盘？</p>
						</a>
						<a href="###">
							<p>如何选购体感车？</p>
						</a>
						<a href="###">
							<p>怎样选购按摩椅？</p>
						</a>
						<a href="###">
							<p>如何选购移动硬盘？</p>
						</a>
						<a href="###">
							<p>怎样选购跑步机？</p>
						</a>
						<a href="###">
							<p>怎样选购热水器？</p>
						</a>
						<a href="###">
							<p>怎样选购电脑音箱？</p>
						</a>
						<a href="###">
							<p>如何选购消毒柜？</p>
						</a>
						<a href="###">
							<p>如何选购麦克风？</p>
						</a>
						<a href="###">
							<p>如何选购适配器？</p>
						</a>
						<a href="###">
							<p>如何选购电磁炉？</p>
						</a>
						<a href="###">
							<p>如何选购电脑包？</p>
						</a>
						<!---->
						<a href="###">
							<p>怎样选购电饭煲？</p>
						</a>
						<a href="###">
							<p>如何选购平板保护套？</p>
						</a>
						<a href="###">
							<p>怎样选购微波炉？</p>
						</a>
						<a href="###">
							<p>怎样选购洗碗机？</p>
						</a>
						<a href="###">
							<p>如何选购电子书阅读器？</p>
						</a>
						<a href="###">
							<p>如何选购面包机？</p>
						</a>
						<a href="###">
							<p>如何选购显示器？</p>
						</a>
						<a href="###">
							<p>如何选购路由器？</p>
						</a>
						<a href="###">
							<p>怎样选购空调机？</p>
						</a>
						<a href="###">
							<p>如何选购烤箱？</p>
						</a>
						<a href="###">
							<p>怎样选购咖啡机？</p>
						</a>
						<a href="###">
							<p>怎样选购复印机？</p>
						</a>
						<a href="###">
							<p>如何选购净水器？</p>
						</a>
						<a href="###">
							<p>如何选购碎纸机？</p>
						</a>
						<a href="###">
							<p>怎样选购耳机？</p>
						</a>
						<a href="###">
							<p>如何选购电话机？</p>
						</a>
						<a href="###">
							<p>如何选购镜头？</p>
						</a>
						<a href="###">
							<p>如何选购电水壶？</p>
						</a>
						<a href="###">
							<p>如何选购蓝牙音箱？</p>
						</a>
						<a href="###">
							<p>如何选购指纹考勤机？</p>
						</a>
						<a href="###">
							<p>如何选购灯具？</p>
						</a>
						<a href="###">
							<p>如何选购排插？</p>
						</a>
						<a href="###">
							<p>怎样选购冰箱？</p>
						</a>
						<a href="###">
							<p>怎样选购酒柜？</p>
						</a>
						<a href="###">
							<p>如何选购电池？</p>
						</a>
						<a href="###">
							<p>如何选购豆浆机？</p>
						</a>
						<a href="###">
							<p>如何选购榨汁机？</p>
						</a>
						<a href="###">
							<p>如何选购炖锅？</p>
						</a>
						<a href="###">
							<p>如何选购数码相机？</p>
						</a>
						<a href="###">
							<p>怎样选购油烟机？</p>
						</a>
						<a href="###">
							<p>如何选购脱毛器？</p>
						</a>
						<a href="###">
							<p>如何选购美容器？</p>
						</a>
						<a href="###">
							<p>如何选购花洒？</p>
						</a>
						<a href="###">
							<p>怎样选购台灯？</p>
						</a>
						<a href="###">
							<p>怎样选购无人机？</p>
						</a>
						<a href="###">
							<p>如何选购打印机？</p>
						</a>
						<a href="###">
							<p>如何选购鼠标？</p>
						</a>
						<a href="###">
							<p>如何选购多功能打印机？</p>
						</a>
						<a href="###">
							<p>怎样选购智能手环？</p>
						</a>
						<a href="###">
							<p>怎样选购相机？</p>
						</a>
						<a href="###">
							<p>如何选购相纸？</p>
						</a>
						<a href="###">
							<p>如何选购服务器？</p>
						</a>
						<a href="###">
							<p>如何选购风扇？</p>
						</a>
						<a href="###">
							<p>如何选购商用投影仪？</p>
						</a>

					</div>
				</div>
				<!--buy-->
				<div id="">
					<div class="cart_cy">
						<a href="">
							<img src="../img/side/art_wuliu.png" />
							<span>BUY+</span>
						</a>
						<img class="title_up" src="../img/side/member-menu-title-up.png" />
					</div>
				</div>
				<!--注册与隐私-->
				<div id="register">
					<div class="cart_cy">
						<a href="">
							<img src="../img/side/art_zzshui.png" />
							<span>注册与隐私</span>
						</a>
						<img class="title_up" src="../img/side/member-menu-title-up.png" />
					</div>
					<div class="side_con side_zzshui">
						<a href="###">
							<p>会员注册协议</p>
						</a>
						<a href="###"> 
							<p>隐私保护政策</p>
						</a>

					</div>
				</div>

			</div>
			<div id="content">
				<div id="nav">
					<p>会员登录小贴士</p>
				</div>
				<div id="pageWrap">
				</div>
			</div>
			
		</div>
		<div id="useb"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/side.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("#uset").load("../common/sousuo_nav.html");
			$("#useb").load("../common/footer.html");
		</script>

	</body>

</html>