<div id="sdLogIn">
						<p>如需合作，请通过以下途径联系我们！</p>
	
</div>
<div id="logIncontent">
	

<p>联系电话：0755-8328 6903   邮箱： dshztgz@sundan.com
</p>
 

<p>申请友情链接：</p>

<p>1、友链申请标准：各大搜索引擎收录正常，无不良内容，拒绝色情、反动、有恶意代码、没有自主域名、设计低劣的网站。</p>

<p>2、首页链接pr值需达到5以上，alexa排名为10000以内。内页友链要求pr值大于等于4，各大搜索引擎收录数据要求过万；</p>

<p>3、图片类链接仅限于放在网站内页；</p>

<p>4、所有申请我站友情链接的网站，需先加好我站友情链接，审核时添好我站友情链接的优先审核。</p>

 

<p>文字友链代码：&lt;a href="http://www.sundan.com" target="_blank" title="顺电商城"&gt;顺电商城&lt;/a&gt;</p>

 

<p>图片友链代码：&lt;a href="http://www.sundan.com" target="_blank" title="顺电商城"&gt;&lt;img src="http://www.sundan.com/sundan-logo.png">&lt;/a&gt;</p>

					</div>
