<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="sdLogIn" style="height: 20px;">

		</div>

		<div id="logIncontent">
			<p>公司全称: 深圳市顺电连锁股份有限公司</p>

			<p>股票简称: 顺电股份</p>

			<p>股票代码: 831321</p>

			<p>办公地址: 广东省深圳市罗湖区深南东路2102号振华大厦4楼</p>

			<p>网 址: www.sundan.com</p>

			<p>电 话: 0755-83286114</p>

			<p>传 真: 0755-83262392</p>

			<p>电子邮件: stock@sundan.com </p>

			<p>成立日期: 2000-09-30</p>

			<p>挂牌日期: 2014-11-12</p>
			<p>挂牌市场: 全国中小企业股份转让系统</p>
		</div>

	</body>

</html>