<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../css/slow_life.css" />
		<!--<link rel="stylesheet" type="text/css" href="../common/footer.css"/>-->
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	</head>

	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		<div id="wrap">
			<div id="quaternary">
				<div id="quaternaryItemFirst">
					<p> 让大屏冲击你的视觉感官</p>
				</div>

				<div id="quaternaryItemSecond">
					<span></span>
				</div>
				<div id="quaternaryItemThird">
					<p>从黑白到彩色、从模拟到数字、从球面到平面，电视的发展让观众在视觉享受上获得逐步提</p>
					<p>升。还记得过去，电视是绝大部分家庭的休闲娱乐，享受完晚餐后，全家人都会团坐在电视前</p>
					<p>收看电视节目，相互交流。但随着电脑、手机端不断发展，我们独自的娱乐项目越来越广泛，</p>
					<p>收看电视节目，相互交流。但随着电脑、手机端不断发展，我们独自的娱乐项目越来越广泛，</p>
					<p>的出现，它提供的视觉效果、多元化功能，能让我们和家人，再一次，聚在一起。 </p>
				</div>
			</div>
			<div class="sony_area">
				<div class="title_number">1</div>
				<div class="title_word">.SONY</div>
				<div class="word_space"></div>
				<div class="word_area">
					<div class="word_box">
						<div class="word_space_word">索尼A1系列</div>
						<div class="word_space_index">A1系列是款能够利用屏幕直接发出声音的大屏电视</div>
						<div class="word_space_content">索尼A1系列是款能够利用屏幕直接发出声音的大屏电视，它打破传统的独特设计，搭配索尼独创银幕声场技术和4K HDR图像处理芯片X1进阶版，可以充分挖掘OLED显示技术“自发光、广视角、高对比度”等天然优势。得益于超薄的OLED屏幕，电视能够呈现“丰富和逼真的色彩、高动态对比度、更清晰的图像和更广的可视角度。”</div>
						<div class="word_space_more">
							<div class="desc_more" url="https://www.sundan.com/product_16829.html">
								<div class="learn_more">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/icon.png"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="word_space_pic"></div>
				<div class="word_space_pic_2"></div>
				<div class="word_space_2"></div>
				<div class="word_area word_area_2">
					<div class="word_box">
						<div class="word_space_word text_title_right">索尼Z9D系列</div>
						<div class="word_space_index text_index_right">图像处理能力比前一代4K图像处理芯片X1高出40%</div>
						<div class="word_space_content">
							索尼在Z9D系列上搭载了 4K HDR图像处理芯片X1 Extreme。该芯片实时图像处理能力比前一代4K图像处理芯片X1高出40%，可以为用户带来更精密、更细腻、更真实的显示效果的视觉体验。搭载了“Backlight Master Drive”技术，改变了当前液晶电视上常见的侧入式背光源布局方式，通过使用高密度的直下式矩阵式背光源实现画面亮度的控制。
						</div>
						<div class="word_space_more text_more_right">
							<div class="desc_more" url="https://www.sundan.com/product_14997.html">
								<div class="learn_more">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/icon.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="LG_area">
				<div class="title_number">2</div>
				<div class="title_word">.LG</div>
				<div class="lg_pic"></div>
				<div class="word_area word_area_3">
					<div class="word_box">
						<div class="word_space_3"></div>
						<div class="word_space_word ">LG&nbsp;&nbsp;E7系列</div>
						<div class="word_space_index "> E7延续设计理念，光晕表现都活灵活现</div>
						<div class="word_space_content lg_width">
							OLED E7延续E6系列的设计理念，在屏幕上直接贴上了一层玻璃，厚度薄得让人难以置信，同时在效果上依然非常出色。自身的主动式HDR以及“动态元数据”能够逐个场景进行优化，电视能展现出极为逼真的光影效果，各种明暗对比、光线强度渐变甚至是光晕表现都活灵活现，以达到更加自然的观影体验。可以说OLED65E7挂在家里的客厅上，所有朋友来都会向你投上“羡慕”的目光。
						</div>
						<div class="word_space_more">
							<div class="desc_more" url="https://www.sundan.com/product_18304.html">
								<div class="learn_more">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/icon.png"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="lg_pic2"></div>
				<div class="word_area word_area_4">
					<div class="word_box">
						<div class="word_space_4"></div>
						<div class="word_space_word right">LG&nbsp;&nbsp;IPS电视</div>
						<div class="word_space_index right">IPS硬屏4K面板拥有绚丽逼真的色彩和鲜明的对比度</div>
						<div class="word_space_content lg_width">
							与其他电视不同，这款电视的金属质感机身可以彰显出更简洁的线条和纤薄的曲线。即使关闭电源，LG超高清电视低调的典雅气质也非常引人注目。所采用的IPS硬屏4K面板拥有绚丽逼真的色彩和鲜明的对比度，以及更加宽广的视角。您坐在家中，能在更多个位置享受到一致不变的精彩画面。超级亮度调节和局域控光技术可以通过调节背光并且将图像划分到多个不同对比度区间的方式改善亮度并且加强细节。
						</div>
						<div class="word_space_more lg_more_right">
							<div class="desc_more" url="https://www.sundan.com/product_18080.html">
								<div class="learn_more">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/icon.png"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="lg_pic3"></div>
				<div class="word_area word_area_5">
					<div class="word_box">
						<div class="word_space_3"></div>
						<div class="word_space_word ">LG&nbsp;&nbsp;B7系列</div>
						<div class="word_space_index "> 纤薄的机身设计可以与您的家居装饰融为一体</div>
						<div class="word_space_content lg_width">
							LG OLED B7没有了背光源的存在，从而大大降低了屏幕的厚度。纤薄的机身设计，让电视可以与您的家居装饰融为一体。在深邃的黑色映衬下，色彩方能更加鲜活。尽情体验LG OLED电视自发光像素所创造出的逼真画质。
						</div>
						<div class="word_space_more">
							<div class="desc_more" url="https://www.sundan.com/product_17328.html">
								<div class="learn_more">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/icon.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="samsung_area">
				<div class="title_number">3</div>
				<div class="title_word black">.SAMSUNG</div>
				<div class="samsung_pic1"></div>
				<div class="word_area word_area_6">
					<div class="word_box">
						<div class="word_space_word darker">三星Q7F系列</div>
						<div class="word_space_index darker"> 拥有QLED量子点技术，4K分辨率</div>
						<div class="word_space_content left_line">
							<div class="samsung_width little_darker">
								三星QLED光质量子点电视Q7F作为三星电视的代表之作，不仅拥有QLED量子点技术、4K分辨率、深黑减反面板、专业精锐控黑技术以及优化超清局域控光技术等多项黑科技，凭借四面超窄边框以及一根光缆连接打造“无边视界”，带来根据沉浸感的视觉体验。与此同时，超薄机身在壁挂安装时能够更加贴合墙面，整洁淡雅，彻底告别家电“傻、大、沉”的传统形象。
							</div>
						</div>
						<div class="word_space_more darker">
							<div class="desc_more" url="https://www.sundan.com/product_17013.html">
								<div class="learn_more darker_line">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/more01.png"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="samsung_pic2"></div>
				<div class="word_area word_area_7">
					<div class="word_box">
						<div class="word_space_word darker right">三星&nbsp; [&nbsp;画&nbsp;&nbsp;·&nbsp;&nbsp;壁&nbsp;]</div>
						<div class="word_space_index darker right"> 三星“画•壁”电视融合了电视和家居饰品的双重特性</div>
						<div class="word_space_content right_line">
							<div class="samsung_width little_darker">
								三星“画•壁”电视融合了电视和家居饰品的双重特性，纤薄壁挂架非常轻薄，可将三星「画 • 壁」艺术电视紧贴墙面悬挂，就像一幅真正的壁画一样。可根据周围光线变化智能调节亮度与色彩，增强观看体验，令您的空间一整天保持现实主义的艺术风采。拥有4K UHD分辨率，可呈现出众细节与4倍于三星普通高清电视分辨率的清晰画质，从而带给您丰富惊艳的观影体验。
							</div>
						</div>
						<div class="word_space_more darker lg_more_right">
							<div class="desc_more" url="https://www.sundan.com/product_18715.html">
								<div class="learn_more darker_line">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/more01.png"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="samsung_pic3"></div>
				<div class="word_area word_area_8">
					<div class="word_box">
						<div class="word_space_word darker">三星Q7C系列</div>
						<div class="word_space_index darker"> 三星Q7C电视采用了“重点关注”的曲面屏</div>
						<div class="word_space_content left_line">
							<div class="samsung_width little_darker">
								三星Q7C电视采用了用户“重点关注”的曲面屏，观看时更有代入感、沉浸感，能够有效降低周边环境对于电视画面的影响。配置了Q图像处理引擎，响应速度更加迅猛，并且拥有的内容优化功能，享受精彩画质。为了保证显示效果，三星Q7C电视可以呈现高达1500尼特至2000尼特的峰值亮度。
							</div>
						</div>
						<div class="word_space_more darker">
							<div class="desc_more" url="https://www.sundan.com/product_17966.html">
								<div class="learn_more darker_line">了解更多</div>
								<div class="left_icon"><img src="../img/slow_life/more01.png"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom_banner">
				<img id="back_to_top" src="../img/slow_life/button.png">
			</div>
		</div>
		<script src="../js/slow_life.js" type="text/javascript" charset="utf-8"></script>
		<!--公用底部-->
		<!--<div class="usedb"></div>-->
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
//			$(".usesd").load("sousuo_nav.html");
			$(".usedb").load("footer.html");
		});
	</script>

</html>