<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主题馆-网上购物-顺电网上商城</title>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="../css/theme_pavilions.css"/>
		<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
		<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	</head>
	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		<div class="wrap">
			<div id="con">
				<a href="shundian_zhuti_manwei.html"><img src="../img/theme_pavilions/theme_pavilions.jpg"/></a>
			</div>
			<div id="con">
				<a href="shundian_faxian_sheying.html"><img src="../img/theme_pavilions/book.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/theme03.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/moon.jpg"/></a>
			</div>
			<div id="con">
				<a href="slow_life.html"><img src="../img/theme_pavilions/slow-life.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/sofa.jpg"/></a>
			</div>
			<!--7-->
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/music_world.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/simes.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/music.jpg"/></a>
			</div>
			<div id="con">
				<a href="prefecture.html"><img src="../img/theme_pavilions/theme04.jpg"/></a>
			</div>
			<div id="con">
				<a href="import_q.html"><img src="../img/theme_pavilions/theme05.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/theme06.jpg"/></a>
			</div>
			<div id="con">
				<a href="###"><img src="../img/theme_pavilions/theme07.jpg"/></a>
			</div>
			<div id="con">
				<a href="shundian_faxian_jinhuaqi.html"><img src="../img/theme_pavilions/theme08.jpg"/></a>
			</div>
			
			<script src="../js/theme_pavilions.js" type="text/javascript" charset="utf-8"></script>
		</div>
		
		<!--公用底部-->
		<div class="usedb"></div>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$(".usedb").load("../common/footer.html");
		});
	</script>
</html>
