<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人护理专区_电动剃须刀排行_电动剃须刀价格-正品保证顺丰包邮-顺电网上商城</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../common/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="../common/htmleaf_demo.css"/>
	<link rel="stylesheet" type="text/css" href="../common/style_h.css"/>
	<link rel="stylesheet" type="text/css" href="../common/footer.css"/>
	<link rel="stylesheet" type="text/css" href="../css/tixu.css" />

	<body>
		<!--公用搜索和导航-->
		<div class="dingbu"></div>
		<!--1-->
		<div class="tixu_sect1"></div>
		<!--2-->
		<div class="tixu_sect2">
			<div class="nanshen_wrap">
				<div class="nansheng">
					<div class="for_m">M</div>
					<p>男神专属</p>
					<p class="realman">真男人，亦是一个真正的型男</p>
				</div>
			</div>
		</div>
		<!--3-->
		<div class="tixu_sect3">
			<div class="huge_wrap">
				<div class="huge">
					<div class="line"></div>
					<div class="title">剃须新体验</div>
					<div class="title1">博朗电动剃须刀</div>
					<div class="tixu_price">
						<sup>￥</sup>
						<span class="price_num">1229</span>
					</div>
					<!--胡歌购买按钮-->
					<a href="">
						<div class="buy_now">
							<span>立即购买</span>
							<img src="../img/tixu_icon.png" alt="" class="buy_arrow" />
							<div id="buy_now_cover">立即购买</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--4 一台在手发型都有-->
		<div class="faxing_wrap">
			<div class="faxing">
				<!--左-->
				<div class="faxing_img">
					<img src="../img/cp_06.jpg" />
				</div>
				<!--右边-->
				<div class="faxing_txt">
					<div class="faxing_line"></div>
					<p class="fa_title">一台在手 发型都有</p>
					<p class="fa_title1">德国博朗（BRAUN）理发器</p>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="buy_btn">
							<!--左-->
							<div class="fa_price">
								<sup>¥</sup>
								<span class="num">499</span>
							</div>
							<!--右-->
							<div class="buy_btn_now">立即购买</div>
							<div class="buy_btn2">立即购买</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--5同4-->
		<!--4 一台在手发型都有-->
		<div class="faxing_wrap">
			<div class="faxing">
				<!--左边-->
				<div class="faxing_txt">
					<div class="faxing_line"></div>
					<p class="fa_title">男人本色，我型</p>
					<p class="fa_title1">飞利浦 鼻毛修剪器</p>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="buy_btn">
							<!--左-->
							<div class="fa_price">
								<sup>¥</sup>
								<span class="num">159</span>
							</div>
							<!--右-->
							<div class="buy_btn_now">立即购买</div>
							<div class="buy_btn2">立即购买</div>
						</div>
					</a>
				</div>
				<!--右边-->
				<div class="faxing_img">
					<img src="../img/cp_11.jpg" />
				</div>
			</div>
		</div>
		<!--6同2-->
		<!--2-->
		<div class="tixu_sect2 nvsheng">
			<div class="nanshen_wrap">
				<div class="nansheng">
					<div class="for_m woman">w</div>
					<p>女神专属</p>
					<p class="realman realwoman">女人的美丽，需要你的细心呵护</p>
				</div>
			</div>
		</div>
		<!--7同3-->
		<!--3-->
		<div class="tixu_sect3 zhengmian">
			<div class="huge_wrap">
				<div class="huge zhengmianqi">
					<div class="line"></div>
					<div class="title">12分钟 肌肤水润</div>
					<div class="title1">离子香薰蒸面器</div>
					<div class="tixu_price">
						<sup>￥</sup>
						<span class="price_num">799</span>
					</div>
					<!--胡歌购买按钮-->
					<a href="">
						<div class="buy_now">
							<span>立即购买</span>
							<img src="../img/tixu_icon.png" alt="" class="buy_arrow" />
							<div id="buy_now_cover">立即购买</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--8同4-->
		<!--4 一台在手发型都有-->
		<div class="faxing_wrap">
			<div class="faxing">
				<!--左-->
				<div class="faxing_img">
					<img src="../img/cp_18.jpg" />
				</div>
				<!--右边-->
				<div class="faxing_txt">
					<div class="faxing_line eight_line"></div>
					<p class="fa_title">智能美颜 留住青春</p>
					<p class="fa_title1">娜蜜丝 智能美容嫩肤仪</p>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="buy_btn">
							<!--左-->
							<div class="fa_price">
								<sup>¥</sup>
								<span class="num" style="color: #E7365D;">1999</span>
							</div>
							<!--右-->
							<div class="buy_btn_now eight_btn">立即购买</div>
							<div class="buy_btn2 eight_cover">立即购买</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--9同5-->
		<div class="faxing_wrap">
			<div class="faxing">
				<!--左边-->
				<div class="faxing_txt">
					<div class="faxing_line eight_line"></div>
					<p class="fa_title">纳米深层补水 保湿不花妆</p>
					<p class="fa_title1">纳米喷雾补水仪</p>
					<a href="products_details.html?goodsId=2"   target="_blank">
						<div class="buy_btn">
							<!--左-->
							<div class="fa_price">
								<sup>¥</sup>
								<span class="num" style="color: #E7365D;">159</span>
							</div>
							<!--右-->
							<div class="buy_btn_now">立即购买</div>
							<div class="buy_btn2 eight_cover">立即购买</div>
						</div>
					</a>
				</div>
				<!--右边-->
				<div class="faxing_img">
					<img src="../img/cp_23.jpg" />
				</div>
			</div>
		</div>
		<!--公用底部-->
		<div class="dibu"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="../common/index_yb.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/tixu.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">
		$(function(){
			$(".dibu").load("../common/footer.html");
		});
	</script>
</html>