* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: "微软雅黑";
	background: #F6F6F6;
}

#help {
	width: 1225px;
	height: 24px;
	/*	border: 1px solid;*/
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 10px;
	background: #f6f6f6;
}

#help span {
	color: #3c3e3e;
	font-size: 12px;
}

#sideWrap {
	width: 1225px;
	margin: 0 auto;
	/*border: 1px solid;*/
	
}

#side {
	width: 180px;
	padding: 0 10px;
	/*border: 1px solid;*/
	background: #474952;
}

.cart_cy {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.cart_cy span {
	color: white;
	font-size: 14px;
	margin-left: 5px;
}

.title_up {
	width: 9px;
	height: 7px;
}

.cart_cy img {
	vertical-align: middle;
}

.side_con {
	margin-left: 27px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	flex-flow: column nowrap;
	width: 180px;
}

.side_con p {
	font-size: 12px;
	color: white;
}

#side .logIn {
	color: #168faa;
}

.side_cart {
	height: 468px;
}

.side_check {
	height: 2054px;
}

.side_zzshui {
	height: 36px;
}

.bb {
	display: none;
}

.title_up {
	background: url(../img/side/member-menu-title-up.png)
}

.title_down {
	transform: rotateZ(180deg);
}

#helpWrap {
	background: #f6f6f6;
}

#sideWrap {
	display: flex;
	width: 1225px;
	justify-content: space-around;
	margin: 0 auto;
}

#nav {
	width: 995px;
	height: 38px;
	background: #e5e5e5;
}

#nav p {
	color: #000000;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
	font-weight: 400;
}
/*顺电第一页*/
#pageWrap{
	background: white;
}
#sdLogIn{
	text-align: center;
	height: 33.75px;
	line-height: 33.75px;
	font-size: 20px;
}
#logIncontent{
	width: 975px;
	margin: 0 auto;
	margin-top: 26px;
}
#logIncontent  .pwd{
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 0;
}
#logIncontent  p{
	height: 25px;
	left: 25px;
	font-size: 12px;
	margin-left: 29px;
}
#logIncontent .special{
	margin-left: 108px;
}
#logIncontent .change{
	margin-left: 127px;
}
#logIncontent  .change_color{
	color: #ff4700;
}
#pageWrap .click{
	color: #00bad6;
}
pre{
	
	height: 19px;
	line-height: 19px;
	background: white;
}


